html, body {height: 100%;margin:0;padding:0;font-family: Arial;font-size:16px;}
#wrapper{min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -105px;color: #555555;}
#footer {height: 105px;}
.top{background-color: #1b1b1b;text-align: center;}
.top .topCenter{background: url("http://static.takeplace.eu/topCenterBackground.png") repeat-y;background-color: #1b1b1b;height:75px;margin:0px auto;text-align:left;width: 750px;}
.top .topTakeplace{background: url("http://static.takeplace.eu/topTakeplace.png") no-repeat;width: 181px;height: 40px;position: relative;top: 21px;}
.top .takeplaceSignIn{float:right;margin-top:7px;font-weight:bold;position:relative;top:20px;}
.top .takeplaceSignIn a{text-decoration:underline;color:#cccccc;}
.top .takeplaceSignIn a:hover{text-decoration:none;color:#cccccc;}
.topSeparator{background: url("http://static.takeplace.eu/topSeparator.png") repeat-x;height:12px;width:100%;}
h1{font-size: 36px;font-weight: bold;margin: 0 0 20px 0;}
a{text-decoration:underline;font-weight:bold;color:#1a809a;}
a:hover{text-decoration:none;font-weight:bold;color:#1a809a;}
.emptySep{width: 10px;height: 30px;}
.emptySepShare{width: 10px;height: 10px;}
h2{font-size:20px;font-weight:bold;margin-top:30px;}
.dataDiv{margin-top:20px;line-height:130%;}
.dataDiv .address{margin-bottom:10px;line-height:130%;}
.date1{font-weight:bold;color:#1a809a;}
.date2{margin-bottom:20px;}
.date1r{margin-bottom:5px;}
.date2r{float:right;text-align:right;font-weight:bold;position:relative;top:9px;}
.date3r{float:right;text-align:right;margin-left:20px;}
.rSeparator{width:100%;height:15px;overflow:hidden;}
.contentPanel{clear: both;padding: 0 0 105px 0;text-align: center;}
.middlePartTop{background: url("http://static.takeplace.eu/middlePartTop.png");}
.middlePartCenter{margin:0px auto;width: 750px;text-align: left;}
.middlePartTop .middlePartCenter{margin-top: 25px;}
.middlePartTop .middlePartCenter .htmlStyle{font-size: 18px;}
.middlePartCenterWrapper{background-color: #f9f9f9;}
.middlePartCenter .left{float:left;width:520px;margin-right:30px;}
.middlePartCenter .left .description{line-height:130%;}
.middlePartCenter .left .contributionDescription{font-size:14px;margin-left:20px;margin-top:5px;}
.middlePartCenter .right{float:left;width:200px;}
.middlePartCenter .right .eventLogo{text-align:right;}
.clear{clear:both;overflow: hidden;width: 1px;height: 1px;}
ul.tabs{display:table;margin:0;padding:0;list-style:none;position:relative;border:1px solid #929292;}
ul.tabs li{margin:0;padding:0;list-style:none;display:table-cell;float:left;position:relative;}
ul.tabs a{position:relative;display:block;}
ul.dropdown{margin:0;padding:0;display:block;position:absolute;z-index:999;top:100%;width:48px;display:none;left:0;}
ul.dropdown ul.dropdown{top: 0;left: 95%;}
ul.dropdown li{margin:0;padding:0;float:none;position:relative;list-style:none;display:block;}
ul.dropdown li a{display: block;}
.languageSelect{width:48px;height:18px;background:url(http://static.takeplace.eu/dropdown.png) no-repeat black;background-position: 33px 7px;}
.langImage{position: relative;top: 3px;left: 4px;}
.item{background-color: white;width: 48px;height: 18px;}
.item:hover{background-color:#D6F884;}
.language{float:right;}
.goto{float:right;margin-right:20px;}
.bottomSeparator{background-color: #e5e5e5;height:6px;overflow: hidden;}
.bottom1{background: url("http://static.takeplace.eu/bottomBackground.png");background-color: #1b1b1b;height: 67px;text-align: center;}
.bottom1 .bottomCenter{margin:0px auto;width: 750px;}
.bottom1 .bottomTakeplace{background: url("http://static.takeplace.eu/bottomTakeplace.png");position: relative;top: 19px;width: 143px;height: 32px;}
.bottom2{background-color: #0c0c0c;height: 32px;text-align: center;}
.bottom2 .bottomCenter{margin:0px auto;width: 750px;}
.bottom2 .bottomCenter .gwt-HTML{color: #c0c0c0;font-size: 11px;font-weight: bold;padding-top: 9px;}
.bottomMenu{float: right;width: 586px;position: relative;top: 15px;}
.bottomMenu ul{display: block;list-style: none outside none;margin: 0;padding: 0 0 0 15px;}
.bottomMenu ul li{cursor: pointer;display: block;float: left;list-style: none outside none;padding: 0 8px 0 0;text-align: center;font-size: 12px;}
.bottomMenu ul li a{color: white;text-decoration: none;font-weight: bold;}
.bottomMenu ul li a:hover{color: white;text-decoration: underline;font-weight: bold;}
.bottomTextSeparator{color: #979797;font-size: 12px;}
.rborder{padding:5px;border:1px dashed #f0f0f0;-moz-border-radius:5px;border-radius:5px;background-color:#fafafa;}
.date3r .rbL{background:url("http://static.takeplace.eu/actionImageBigLeft.png");width:5px;height:40px;float:left;}
.date3r .rbC{background:url("http://static.takeplace.eu/actionImageBigCenter.png") repeat-x;height:40px;float:left;}
.date3r .rbC a{padding:0 22px;color:white;text-decoration:none;position:relative;top:9px;}
.date3r .rbC a:hover{color:white;text-decoration:underline;}
.date3r .rbR{background:url("http://static.takeplace.eu/actionImageBigRight.png");width:5px;height:40px;float:left;}
