body{margin:0;padding:0;background-color:#ffffff;font-family:Arial;font-size:14px;color:#555555;text-align:center;}
p,b,ul,li,div,h1,h2{margin:0;padding:0;}
h1{font-size:24px;font-weight:bold;}
h2{font-size:18px;font-weight:bold;margin-top:30px;}
a{text-decoration:underline;font-weight:bold;color:#1a809a;}
a:hover{text-decoration:none;font-weight:bold;color:#1a809a;}
ul{margin:10px 0 10px 20px;}
.clear{clear:both;height:1px;overflow:hidden;}
.takeplace{background-color:#000000;height:30px;position:fixed;width:100%;color:#cccccc;overflow:hidden;}
.takeplaceInner{width:700px;margin:0 auto;}
.takeplaceLogo{float:left;margin-top:3px;}
.takeplaceSignIn{float:right;margin-top:7px;font-weight:bold;}
.takeplaceSignIn a{text-decoration:underline;color:#cccccc;}
.takeplaceSignIn a:hover{text-decoration:none;color:#cccccc;}
.content{text-align:left;width:700px;margin:0 auto;padding-top:50px;}
.left{float:left;width:120px;overflow:hidden;}
.right{float:left;width:565px;margin-left:15px;}
.dataDiv{margin-top:20px;line-height:130%;}
.separator{width:100%;height:1px;margin-top:10px;background:url(http://static.takeplace.eu/separator.png) repeat-x;overflow:hidden;}
.date1{font-weight:bold;color:#1a809a;float:left;width:110px;}
.date2{float:left;width:440px;margin-left:15px;}
.date1r{float:left;width:335px;}
.date2r{float:left;width:105px;margin-left:15px;text-align:right;font-weight:bold;}
.date3r{float:left;width:95px;margin-left:15px;text-align:right;position:relative;top:-2px;}
.rSeparator{width:100%;height:15px;overflow:hidden;}
.contributionDescription{font-size:12px;margin-left:20px;margin-top:5px;}
