@eval COLOR_GRAY consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_GRAY();
@eval COLOR_GREEN consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_GREEN();
@eval COLOR_RED consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_RED();

@external .gwt-Label;
@external .input-tag-list-tags;
@external .input-tag-mode-read-only;
@external .input-tag-list-box;
@external .input-tag-list-item;
@external .input-tag-list-tag-input;
@external .input-tag-list-tag-editable;
@external .input-tag-list-item-hover;
@external .input-tag-list-item-focus;
@external .input-tag-list-item-deletable;
@external .input-tag-list-tag-delete;
@external .tags-suggestion-list;
@external .tags-suggestion-wrapper;

.artefactSettingsUploadedFileItem{
    float: left;
    margin-right: 5px;
}

.artefactSettingsUploadedFileItem a{
    display: block;
    margin-right: 5px;
    float: left;
}

.artefactSettingsUploadedFileItem div{    
    float: right;
}

.artefactSettingsUploadFileHead .gwt-Label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;    
    margin-left: 15px;
}



.assignHead{
    background-color:#f3f3f3;
    border-top:1px #e5e5e5 solid;
    border-bottom:1px #e5e5e5 solid;
    height:28px;
    clear:both;
}
.assignHeadTitle{
    margin-left:44px;
    margin-top:7px;
    font-weight:bold;
    font-size:11px;
}
.assignLikeItem{
    background-color:#d6f884;
}
.assignNotCareItem{
    background-color:#f0f0f0;
}
.assignNotWantItem{
    background-color:#f9fa80;
}
.assignConflictItem{
    background-color:#ffcec6;
}
.assignNobody{
    margin-left:34px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    text-align:center;
    font-weight:bold;
    background-color:#ffffff;
}
.assignItemContent{
    float:left;
    background-color:#ffffff;
    padding-bottom:10px;
}
.assignItemContentFirst{
    background-color:#ffffff;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:34px;
}
.assignCheckItem{
    margin-left:11px;
}
.assignCheckItemContent{
    float:left;
    width:34px;
}
.assignReviewerName {
    font-weight:bold;
    margin-left:10px;
    float:left;
}
.assignTopicIntersection {
    font-size:11px;
    clear:both;
    margin-left:10px;
    padding-top:5px;
    color:#8c8c8c;
}
.assignTopicIntersection span{
    font-size:11px;
    color:#555555;
    font-style:italic;
    font-weight:bold;
}
.assignLoad{
    padding-left:20px;
    float:left;
}
.bfrCheckBox{
    float:left;
    margin-top:12px;
    margin-left:5px;
}
.bfrSelectPanel{
    float:right;
    padding-top:15px;
    padding-right:5px;
    padding-bottom:10px;
    width:135px;    
}
.noMargin{
    margin:0;
}
.uaLeft{
    float:left;
    width:100px;
    height:300px;
    border-right:1px solid #888888;
}
.uaRight{
    float:left;
    width:498px;
    height:300px;
}
.uaSelectPanel {
    border-top:1px solid #aaaaaa;
    border-bottom:1px solid #aaaaaa;
}
a.dowloadExTemFile {
    color:#888888;
    text-decoration:none;
}
a.dowloadExTemFile:hover {
    text-decoration:underline;
}
.bidForReviewTable {
    border-collapse:collapse;
}
.controlCell {
    vertical-align: top;
}

.evaluationItem{
}
.evaluationItemClickable{
    cursor: pointer;
}
@sprite .smallEvaluation1 {
    gwt-image:"small1";
}
@sprite .smallEvaluation2 {
    gwt-image:"small2";
}
@sprite .smallEvaluation3 {
    gwt-image:"small3";
}
@sprite .smallEvaluation4 {
    gwt-image:"small4";
}
@sprite .smallEvaluation5 {
    gwt-image:"small5";
}
@sprite .smallEvaluation6 {
    gwt-image:"small6";
}
@sprite .smallEvaluation7 {
    gwt-image:"small7";
}
@sprite .smallEvaluation8 {
    gwt-image:"small8";
}
@sprite .smallEvaluation9 {
    gwt-image:"small9";
}
@sprite .smallEvaluation10 {
    gwt-image:"small10";
}
@sprite .smallEvaluationNone {
    gwt-image:"small11";
}
@sprite .mediumEvaluation1 {
    gwt-image:"medium1";
}
@sprite .mediumEvaluation2 {
    gwt-image:"medium2";
}
@sprite .mediumEvaluation3 {
    gwt-image:"medium3";
}
@sprite .mediumEvaluation4 {
    gwt-image:"medium4";
}
@sprite .mediumEvaluation5 {
    gwt-image:"medium5";
}
@sprite .mediumEvaluation6 {
    gwt-image:"medium6";
}
@sprite .mediumEvaluation7 {
    gwt-image:"medium7";
}
@sprite .mediumEvaluation8 {
    gwt-image:"medium8";
}
@sprite .mediumEvaluation9 {
    gwt-image:"medium9";
}
@sprite .mediumEvaluation10 {
    gwt-image:"medium10";
}
@sprite .mediumEvaluationNone {
    gwt-image:"medium11";
}
@sprite .bigEvaluation1 {
    gwt-image:"big1";
}
@sprite .bigEvaluation2 {
    gwt-image:"big2";
}
@sprite .bigEvaluation3 {
    gwt-image:"big3";
}
@sprite .bigEvaluation4 {
    gwt-image:"big4";
}
@sprite .bigEvaluation5 {
    gwt-image:"big5";
}
@sprite .bigEvaluation6 {
    gwt-image:"big6";
}
@sprite .bigEvaluation7 {
    gwt-image:"big7";
}
@sprite .bigEvaluation8 {
    gwt-image:"big8";
}
@sprite .bigEvaluation9 {
    gwt-image:"big9";
}
@sprite .bigEvaluation10 {
    gwt-image:"big10";
}
@sprite .bigEvaluationNone {
    gwt-image:"big11";
}
@sprite .middleEvaluation1 {
    gwt-image:"middle1";
}
@sprite .middleEvaluation2 {
    gwt-image:"middle2";
}
@sprite .middleEvaluation3 {
    gwt-image:"middle3";
}
@sprite .middleEvaluation4 {
    gwt-image:"middle4";
}
@sprite .middleEvaluation5 {
    gwt-image:"middle5";
}
@sprite .middleEvaluation6 {
    gwt-image:"middle6";
}
@sprite .middleEvaluation7 {
    gwt-image:"middle7";
}
@sprite .middleEvaluation8 {
    gwt-image:"middle8";
}
@sprite .middleEvaluation9 {
    gwt-image:"middle9";
}
@sprite .middleEvaluation10 {
    gwt-image:"middle10";
}
@sprite .middleEvaluationNone {
    gwt-image:"middle11";
}
@sprite .bottomEvaluation1 {
    gwt-image:"bottom1";
}
@sprite .bottomEvaluation2 {
    gwt-image:"bottom2";
}
@sprite .bottomEvaluation3 {
    gwt-image:"bottom3";
}
@sprite .bottomEvaluation4 {
    gwt-image:"bottom4";
}
@sprite .bottomEvaluation5 {
    gwt-image:"bottom5";
}
@sprite .bottomEvaluation6 {
    gwt-image:"bottom6";
}
@sprite .bottomEvaluation7 {
    gwt-image:"bottom7";
}
@sprite .bottomEvaluation8 {
    gwt-image:"bottom8";
}
@sprite .bottomEvaluation9 {
    gwt-image:"bottom9";
}
@sprite .bottomEvaluation10 {
    gwt-image:"bottom10";
}
@sprite .bottomEvaluationNone {
    gwt-image:"bottom11";
}
.smallEvaluationItem {
    width:27px;
    height:27px;
    overflow:hidden;
    text-align:center;
}
.mediumEvaluationItem {
    width:58px;
    height:58px;
    overflow:hidden;
    text-align:center;
}
.bigEvaluationItem {
    width:93px;
    height:93px;
    overflow:hidden;
    text-align:center;
}
.middleOrBottomEvaluationItem {
    width:25px;
    height:25px;
    overflow:hidden;
    text-align:center;
}
.smallScorePanelInteger09{
    margin:5px 0 0 9px;
}
.smallScorePanelInteger10{
    margin:5px 0 0 5px;
}
.smallScorePanelIntegerDecimal{
    margin:5px 0 0 5px;
}
.smallScorePanelNA{
    margin:5px 0 0 4px;
}
.mediumScorePanelInteger09{
    margin:11px 0 0 20px;
}
.mediumScorePanelInteger10{
    margin:11px 0 0 12px;
}
.mediumScorePanelIntegerDecimal{
    margin:11px 0 0 13px;
}
.mediumScorePanelNA{
    margin:11px 0 0 10px;
}
.bigScorePanelInteger09{
    margin:13px 0 0 30px;
}
.bigScorePanelInteger10{
    margin:13px 0 0 12px;
}
.bigScorePanelIntegerDecimal{
    margin:13px 0 0 15px;
}
.bigScorePanelNA{
    margin:13px 0 0 10px;
}
.middleOrBottomScorePanelInteger09{
    margin:5px 0 0 8px;
}
.middleOrBottomScorePanelInteger10{
    margin:5px 0 0 4px;
}
.smallEvaluationItemInteger {
    font-size:14px;
    float:left;
    color:#6b6b6b;
}
.smallEvaluationItemDecimal {
    font-size:10px;
    margin-top:3px;
    float:left;
    color:#6b6b6b;
}
.mediumEvaluationItemInteger {
    font-size:30px;
    float:left;
    color:#6b6b6b;
}
.mediumEvaluationItemDecimal {
    font-size:18px;
    margin-top:11px;
    color:#6b6b6b;
    float:left;
}
.bigEvaluationItemInteger {
    font-size:60px;
    float:left;
    color:#6b6b6b;
}
.bigEvaluationItemDecimal {
    font-size:35px;
    margin-top:22px;
    float:left;
    color:#6b6b6b;
}
.evaluationDisplay{
    width:93px;
}
.evaluationDisplayItems{
    margin-top:3px;
    float:right;
}
.evaluationDisplayItemsMargin{
    margin-left:6px;
}
.evaluationDisplayList{
    margin-top:4px;
}
.evaluator{
    width:265px;
}
.evaluatorWrapperItem{
    margin-top:2px;
}
.evaluatorResult{
    margin-right:4px;
    float:left;
}
.evaluatorSelector{
    float:left;
}
.evaluatorHead{
    height:25px;
    cursor:pointer;
    position:relative;
    z-index:2;
}
.evaluatorPointsPanel{
    margin-left:2px;
}
.evaluatorPointsPanelWrapper{
    position:relative;
    top:-1px;
    z-index:1;
}
.evaluatorPointsPanelWrapper .disabled{
    cursor:default;
}
.evaluatorEmpty{
    width:227px;
}
.evaluatorEmpty .gwt-Label{
    margin: 5px 0px 0px 20px;
}
.evaluatorTitleText{
    float:left;
    width:200px;
}
@sprite .evaluatorTitle{
    gwt-image:"evaluatorTextTitle";
}
@sprite .evaluatorTitleOver{
    gwt-image:"evaluatorTextTitleOver";
}
.evaluatorTitleText .gwt-Label{
    margin:5px 10px 0px 10px;
}
.evaluatorTitleEnd{
    float:left;
    width:5px;
}
.evaluatorItemText{
    float:left;
    width:200px;
}
@sprite .evaluatorItemMiddle{
    gwt-image:"evaluatorItemTextMiddle";
}
@sprite .evaluatorItemMiddleOver{
    gwt-image:"evaluatorItemTextMiddleOver";
}
@sprite .evaluatorItemBottom{
    gwt-image:"evaluatorItemTextBottom";
}
@sprite .evaluatorItemBottomOver{
    gwt-image:"evaluatorItemTextBottomOver";
}

.evaluatorItemMiddle .gwt-Label, .evaluatorItemBottom .gwt-Label, .evaluatorItemMiddleOver .gwt-Label, .evaluatorItemBottomOver .gwt-Label{
    margin:5px 10px 0px 10px;
}
.evaluatorItemEnd{
    float:left;
    width:4px;
}

.contributionHeadPanel {
    width: 670px;
    padding: 15px;
}
@if user.agent ie6 ie7 ie8 ie9 {
.contributionHeadPanel {
    width:700px;
}
}

.contributionHeadPanelVisibleEvaluation .form-form {
    float:left;
}

.contributionHeadPanelVisibleEvaluation .form-form .form-formElementValueWidget{
    width: 405px;
}

.contributionHeadPanelVisibleEvaluation .evaluationDisplay{
    float:right;    
}

.contributionHeadPanelNoEvaluation .form-form .form-formElementValueWidget{
    width: 515px;    
}


.contributionHeadPanelStateAndControlPanel{
    margin-top: 10px;
}

.contributionHeadPanelStateAndControlPanel .contributionHeadPanelStateForm .form-formElementValueWidget{
    width: 150px;
}

.contributionHeadPanelStateAndControlPanel .contributionHeadPanelControlsPanel{
    
}

.contributionHeadPanelControl{
    float: right;
    margin-top: 20px;
    margin-left: 20px;   
}

.contributionHeadPanelControl .action-actionImage{
    float: left;
    margin-left: 5px;
}


.reviewScoreAndCommentsProfile {
    float:left;
}
.reviewScoreAndCommentsProfileText {
    float:left;
    width:435px;
    margin-left:10px;
}
.reviewScoreAndCommentsProfileText .name {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}
.reviewScoreAndCommentsProfileText .affiliation {
    color: #979797;
    font-size: 11px;
}
.separator{
    height:1px;
    background-color: #e4e4e4;
    overflow:hidden;
    margin:18px 0 15px 0;
}
.separatorWrapper .separator{
    float:right;
    width:515px;
}
.reviewerEvaluationTotalWrapper{
    float:right;
}

.reviewerEvaluationCommentWrapper {
}
.reviewerEvaluationCommentWrapper .reviewerEvaluationCommentWrapperTitle{
    margin-left:3px;
}
.reviewerEvaluationCommentWrapper .reviewerEvaluationCommentWrapperTitle .form-formElementTitleWidgetTitle{
    font-weight: bold;
    float: left;
}
.reviewerEvaluationCommentWrapper .reviewerEvaluationCommentWrapperTitle .form-formElementTitleWidgetEnd{
    float: left;
}
.reviewerEvaluationCommentWrapper .reviewerEvaluationCommentWrapperTitle .form-formElementTitleWidgetEnd .form-formElementTitleHelp{
    color: #1A809A;
    padding-left: 2px;
    font-weight: bold;
    cursor: default;
}
.reviewerEvaluationError{
    margin-bottom: 10px;
    margin-left: 170px;
}

.reviewScoreAndComments{
    margin-top: 5px;
}
.reviewScoreAndComments .form-form{    
    margin: 15px;
}
.reviewScoreAndComments .form-form .form-formElementValueWidget{
    width: 515px;
}

.reviewCyclesEmpty{
    margin: 10px;
}
.reviewCycles{
    margin-top:5px;
}
.reviewCycles .form-form{
    margin: 15px;
}
.reviewCycles .form-form .form-formElementValueWidget{
    width: 515px;
}
.reviewCycles .ui-actionLabel{
    float:left;
    font-weight: normal;
}

.reviewTermOpen{
    color: #5ba04b;
    font-size:15px;
}
.reviewTermClose{
    color: #ac3e3e;
    font-size:15px;
}
.reviewTermOpen .form-formElementTitleWidgetTitle{
    color: #5ba04b;
    font-size:15px;
}
.reviewTermOpen .form-formElementTitleWidgetEnd span{
    color: #5ba04b;
    font-size:15px;
}
.reviewTermClose .form-formElementTitleWidgetTitle{
    color: #ac3e3e;
    font-size:15px;
}
.reviewTermClose .form-formElementTitleWidgetEnd span{
    color: #ac3e3e;
    font-size:15px;
}

.displayWrapper{
    overflow: hidden;
    width: 27px;
    height: 27px;
}
.displayInWrapper{
    float:right;
}
.contributionState{
    font-size: 16px;
    font-weight: bold;
}
.contributionStateAccepted{
    color: COLOR_GREEN;
}
.contributionStateDeclined{
    color: COLOR_RED;
}
.contributionStatePending{
    color: COLOR_GRAY;    
}
.contributionChairFormDecision .panel-headlinePanel{
    margin-bottom: 15px;
}
.contributionChairFormDecision{
    margin-top: 5px;
}
.contributionChairFormDecision .action-actionImageBig{
    float: left;
    margin-right: 30px;
}
.contributionListItemWrapper{
    margin-bottom: 10px;
}
.contributionListItem{    
    
}
.contributionListItemDisplay{
    float: right;
}


.chairContributionsList .ui-dataListCommonOrdererTitle{
    width: 70px;
}


.myReviewsList .ui-dataListCommonOrdererTitle{
    width: 70px;
}

.newContributionForm{}

.newContributionFormHeadPanel{
}
.newContributionFormHeadPanelContributionTypes li span{
    font-weight: bold;
    margin-left: 5px;
    margin-right: 10px;
    display: block;
    float: left;
    white-space:nowrap;
}
@if user.agent ie6 ie7 ie8 ie9 {
.newContributionFormHeadPanelContributionTypes li span{
    margin-top: 4px;
}
}
.newContributionFormHeadPanelContributionTypes li{
    cursor: pointer;
    list-style-type: none;    
    display: block;
    float: left;
}
@if user.agent ie6 ie7 ie8 ie9 {
.newContributionFormHeadPanelContributionTypes li{
}
} @else {
.newContributionFormHeadPanelContributionTypes li{
    margin-bottom:4px;
}
}
.newContributionFormHeadPanelContributionTypes input{
    float: left;
}
.newContributionFormArtefactsUploadPanel{
}

.newContributionFormSubmitPanel .panel-headlinePanel{
    margin-bottom: 15px;
}
.newContributionFormSubmitPanel .action-actionImageBig{
    float: left;
    margin-right: 30px;
}

.addPublicAndPrivateComment{
    margin-top:10px;
}
.addPublicAndPrivateComment .input-consysTextArea{
    margin: 5px 0 10px 0;
}
.addPublicAndPrivateComment .action-actionImage{
    float: right;
    margin-right: 3px;
}

.myContributionReviews{
    margin-top:5px;
}
.myContributionReviews .form-form{
    margin:15px;
}
.myContributionReviews .form-form .form-formElementValueWidget{
    width: 515px;
}
.myContributionReviews .myContributionReviewsReview{
    margin-top:10px;
}
.myContributionReviews .myContributionReviewsReview .gwt-Label{
    font-weight: bold;
}
.myContributionReviews .form-form .form-formElementValueWidget .action-actionImage{
    float:right;
}

.artefactUpload{
}
.artefactUpload .description{
    color: #c5c5c5;
    margin: 5px 0 5px 0;
}
.artefactUpload .uploadedFiles a{
    color: #c5c5c5;
    text-decoration: underline;
}
.artefactUpload .uploadedFiles a:hover{
    color: #c5c5c5;
    text-decoration: none;
}
.artefactUpload .uploadedFiles span{
    color: #c5c5c5;
}
.artefactUpload .uploadedTitle{
    color: #c5c5c5;
    float:left;
    margin-right:5px;
}
.artefactUpload .artefactUploadFileUploaded .wrapper{
    float:left;
}
.artefactUpload .artefactUploadFileUploaded .wrapper .input-consysTextBox{
    float: left;
    top: -4px;
    left: -4px;
}
.artefactUpload .artefactUploadFileUploaded .wrapper .action-actionImage{
    float:left;
}
.artefactUpload .artefactUploadFileUploaded .changeUpload{
    float:left;
    margin-left:7px;
}
.artefactUpload .artefactUploadFileUploaded .deleteUpload{
    float:left;
    margin-left:5px;
}
.artefactUpload .artefactUploadUpdateFileNameBoxEnabled{
    color: #555555;
}

.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags{
    border: none;
    padding: 0;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-tag-input{
    height: 15px;
    padding: 0;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags li span{
    font-size: 11px;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-box{
    line-height: normal;
    border:none;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-item{
    margin: 1px 5px 1px 0;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-item-hover{
    border:none;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-tag-editable{
    border: none;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-item-deletable{
    border: none;
}

.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-tag-editable span{
    float: left;
    position: absolute;
    left: -1000px;
    display: inline-block;
}
.wrapper-textAreaWrapperCenterCenter .input-tag-list-tags .input-tag-list-item-deletable .input-tag-list-tag-delete{
    top: 4px;
}

.contributionHeadPanel .form-form .input-tag-mode-read-only .input-tag-list-tags{
    padding: 0px;
    margin-top: -2px;
}
.tags .tags-suggestion-wrapper {
    margin-top: -12px;
    margin-left: 1px;
}
.tags .tags-suggestion-list {
    width: 482px;
}

.contributorEditPanel{
    display: block;    
    float: left;
}
.contributorEditPanel .user-userLabel{
    display: inline;    
}

.contributorEditPanelRemove{
    cursor:pointer;
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
    top: 4px;    
}

.wrapper-textAreaWrapperCenterCenter .tags-suggestion-list {
    width: 482px;
}

@if user.agent ie6 ie7 ie8 ie9 {
.input-consysFileUpload .input-consysTextBox .wrapper-textAreaWrapperCenter .wrapper-textAreaWrapperCenterCenter{
    height:16px;
    overflow:hidden;
}
}

.reviewer{
    font-weight: bold;
    color: COLOR_GREEN;
}

.hand{
    cursor: pointer;
}

.infoPanel{
    margin: 10px 0;
}
