textarea,select,input[type="text"],input[type="submit"]
{
  text-decoration:none;
  color: #4A7520;
  font-weight:bold;
  border:1px solid #4A7520;
  background-color: #E6EADB;
  font-size: 10pt;

}

input[type="submit"],input[type="checkbox"]{
    cursor: pointer;
}

textarea,select,input[type="text"]
{
  width:300px;
}

label
{
  font-weight:bold;
  font-size: 12px;
}

textarea 
{
  overflow:scroll;
  white-space:nowrap;
}

input.todo{
    background-color: red;
}