table.elegant-table
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  margin-bottom: 20px;
  border-collapse: collapse;
  text-align: left;
}
table.elegant-table th
{
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}
table.elegant-table td
{
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 6px 8px;
}

table.elegant-table tbody tr:hover td
{
  color: #009;
}


table.elegant-table tr.odd {
	background-color: #fff
}

.pagebanner {
        font-size: 10pt;
        font-weight: normal;
        color: #039;          
	background-color: #eee;	
	padding: 2px 4px 2px 4px;
	margin-top: 10px;
	display: block;
	
        border: 1px solid #ccc;
        border-bottom: none;
}

.pagelinks {
	font-size: 10pt;
        font-weight: normal;
        color: #039;          
	background-color: #eee;	
	padding: 2px 4px 2px 4px;
	display: block;		
        border: 1px solid #ccc;
        border-top: none;
}

table.display {
    width: 100%;
}

table.display, table.display th, table.display td {
    vertical-align: middle;
    border-collapse: collapse;
    border: 1px solid #a9a9a9;
    padding: 3px;
}

table.display tr.even {
    background-color: #ffffe9;
}

table.display th {
    background-color: #dcdcdc;
}

table.displayO {
    width: 100%;
}

table.displayO, table.displayO th, table.displayO td {
    vertical-align: middle;
    border-collapse: collapse;
    border: 1px solid #a9a9a9;
    padding: 3px;
}

table.displayO th {
    background-color: #dcdcdc;
}

table.leftRightForm td {
    padding: 3px;
}

table.leftRightForm th {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding: 3px;
    background-color: #eeeeee;
}
.d_price {
    text-align:right;
}
.d_percent {
    text-align:right;
}
.d_dueDate {
    background-color:#ff5757;
    text-align:center;
    color:white;
}
.d_paid {
    background-color:#a7ffa3;
}
.d_waiting {
    background-color:#ff5757;
    color:white;
}
.d_active {
    background-color:#ffffa3;
}
.d_canceled {
    background-color:#eeeeee;
}
