@external .date1;
@external .date2;

.eventWallRegister{
    float:left;
    margin-top:7px;
}

.paymentDialogOk{
    float:left;
    margin-left:100px;
    margin-right:30px;
}

/** Right List Panel */
.rightListItem{
    margin-left: 5px;
}

/** Rights Dialog */
.rightsDialogBody{
    clear: both;
    width: 100%;
}

.rightsDialogBody .rightsDialogList{        
    width: 300px;
    float: left;
}

.rightsDialogBody .rightsDialogHelp{    
    margin-left: 10px;
    margin-right: 5px;
    width: 190px;
    float: right;
}

.rightsDialogHelp .rightsDialogHelpTitle{
    font-size: 11px;
    margin: 5px 0px;
    font-weight: bold;    
}

.rightsDialogHelp .rightsDialogHelpDesc{
    font-size: 11px;
}

.eventDescription{}
.eventDescription a{
    color:#1a809a;
    text-decoration:underline;
}
.eventDescription a:hover{
    color:#1a809a;
    text-decoration:none;
}
.eventDescription ul{
    margin:10px 0 10px 20px;
}
.eventDescription p{
    margin: 7px 0;
}

.eventProfile h1{
    font-size: 24px;
    font-weight: bold;
}
.eventProfile h2{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
.eventProfile .eventDescription{
    margin-top: 10px;
    width: 700px;
    overflow: hidden;
}
.eventProfile .date1{
    color: #1A809A;
    float: left;
    font-weight: bold;
    width: 145px;
}
.eventProfile .date2{
    float: left;
    margin-left: 15px;
    width: 530px;
}
.seriesLabel{
    float:left;
    margin-top:3px;
}
.redClone{
    float:left;
    margin-left:20px;
}
.videoItem{
    margin-bottom:10px;
    display:block;
}
.videoItemPeople{
    margin-bottom:3px;
    display:block;
}
.videoLabel{
    font-size:18px;
    font-weight:bold;
}
.videoLink{
    float:left;
}
.videoState{
    float:left;
    margin-right:20px;
    font-weight:bold;
}
.videoDisplay{
    width:364px;
    height:364px;
    border:1px solid #929292;
}
.videoDisplayL{
    float:left;
    width:270px;
    margin-left:15px;
    margin-top:10px;
    overflow:hidden;
}
.videoDisplayR{
    float:left;
    margin:10px 0 10px 20px;
}
.videoDisplayUpload{
    position:relative;
    width:128px;
    top:121px;
    left:118px;
}
.videoPercentWaiting{
    position:relative;
    left:48px;
}
.videoPercentLabel{
    margin-top:10px;
    font-weight:bold;
    width:128px;
    text-align:center;
}
.videoEdit{
    float:right;
    margin:10px 0;
}
