
/*  HTML5 ? Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.bundleList{
    width: 100%;
}

.bundle{
    width: 550px;
    font-family: Arial,Helvetica;
    color: #555555;
    margin-bottom: 20px;
}

.infoBox{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 420px;    
}

.infoBox .title{
    font-weight: bold;    
    font-size: 17px;    
    margin-bottom: 10px;
}

.infoBox .description{
    font-size: 12px;
}


.priceBox{
    float: left;
    width: 100px
}

.priceBox .price{
    font-size: 17px;
    font-weight: bold;

}


.priceBox .btn {
    float: left;
    clear: both;
    background: url(../img/aiBorder.gif) no-repeat left center;
    padding: 0 0 0 1px;
    margin: 5px 0;
}
.priceBox .btn a{
    float: left;
    height: 20px;
    background: url(../img/aiBack.gif) repeat-x left top;
    padding: 0 10px;
    color: white;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.priceBox .btn span {
    background: url(../img/aiBorder.gif) no-repeat right center;
    float: left;
    width: 1px;
    height: 20px;
}

.priceBox .btn a:hover{
    text-decoration: underline;
}


.clear{
    clear: both;
    overflow: hidden;
}