@eval COLOR_RED consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_RED();
@eval COLOR_GREEN consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_GREEN();
@eval COLOR_GRAY consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_GRAY();

@external gwt-Label;

.consysTextArea textarea{
    /* kvuli chrome a spol, aby si samy neobarvovaly ramecek textarea */
    outline:none;
}
.consysTextArea .consysTextAreaInfoPanel {
    margin-top:3px;
    margin-right:5px;
    float:right;
}
.consysTextArea .consysTextAreaInfoPanel .gwt-Label{
    font-size:10px;
    float:left;
}

/* ConsysAutoFileUpload */
.consysAutoFileUpload{
}

.infoLabel{
}
.uploading{
    height: 21px;
    padding-top: 3px;
    font-style: italic;
}
.uploaded{
    color: COLOR_GREEN;
}
.error {
    color: COLOR_RED;
    font-size: 11px;
}

.consysTextBox{
    position: relative;
    left: -6px;
    top: -7px;
}
.consysTextBox input{
    /* kvuli chrome a spol, aby si samy neobarvovaly ramecek input */
    outline:none;
}
.consysTextBoxInput{
}
.disabled{
    color: COLOR_GRAY;
}
.consysTextBoxCenterWrapper {
}
@if user.agent ie6 ie7 ie8 ie9 {
    .consysTextBoxCenterWrapper {
    height: 15px;
    overflow: hidden;
}
}

.consysFileUpload{
    overflow: hidden;
    position: relative;
}
.consysFileUpload .uploadWrapper{
    position: absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
    z-index:1;
}
.consysFileUpload .uploadFaceWrapper{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.consysFileUpload .uploadFaceWrapper .consysTextBox{
    position: relative;
    left: -4px;
    top: -4px;
    float: left;
}
.consysFileUpload .uploadFaceWrapper .action-actionImage{
    float: left;
}

.consysPasswordBox{
    position: relative;
    left: -6px;
    top: -7px;
}
.consysPasswordBox .wrapper input{
    outline:none;
    border: none;
}

.consysSelectBox {
    position: relative;
    left: -6px;
    top: -7px;
}
.consysSelectBox input{
    outline:none;
    border: none;
}
.consysSelectBox .consysSelectBoxInput{

}
.consysSelectBox .consysSelectBoxLabel{
}
.consysSelectBox .arrowPanel{
    float:right;
    width: 10px;
    margin-top:4px;
}
