.gridContent{
    z-index:2;
    margin-top:10px;
}
.gridHeaderLeft{
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    background-color:#f8f8f8;
    float:left;
    overflow:hidden;
}
.gridHeader{
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    background-color:#f8f8f8;
    float:left;
    overflow:hidden;
}
.gridHeaderTitle{
    margin-top:13px;
    margin-left:12px;
    font-size:14px;
    font-weight:bold;
}
.gridBlockHeaderLeft{
    border-top:2px solid #cccccc;
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    background-color:#f8f8f8;
    clear:left;
    float:left;
    overflow:hidden;
}
.gridBlockHeader{
    border-top:2px solid #cccccc;
    background-color:#f8f8f8;
    float:left;
    overflow:hidden;
}
.gridBlockLeft{
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    background-color:#f8f8f8;
    clear:left;
    float:left;
    overflow:hidden;
    position:relative;
}
.gridBlockLeftTitle{
    color:#8c8c8c;
    font-size:10px;
    font-weight:bold;
    text-align:right;
    width:40px;
    position:absolute;
}
.gridBlockFullHour{
    border-top:1px solid #e0e0e0;
    float:left;
    overflow:hidden;
}
.gridBlockHalfHour{
    border-top:1px dashed #e0e0e0;
    float:left;
    overflow:hidden;
}
.gridFoot{
    border-top:1px solid #e0e0e0;
    clear:both;
    overflow:hidden;
}
.scheduleBackgrounds{
    z-index:1;
    margin-top:10px;
}
.scheduleBlocks{
    z-index:3;
    margin-top:10px;
}
.blockContent{
    z-index:4;
    border-right:1px solid #e0e0e0;
}
@if user.agent ie6 ie7 ie8 {
    .chairmanLabel{
        float:left;
        overflow:hidden;
        margin-top:5px;
        margin-left:5px;
        font-size:10px;
    }
    @sprite .pen{
        gwt-image:"pen";
        float:right;
        margin-top:6px;
        margin-right:3px;
        cursor:pointer;
    }
} @else {
    .chairmanLabel{
        float:left;
        overflow:hidden;
        margin-top:3px;
        margin-left:5px;
        font-size:10px;
    }
    @sprite .pen{
        gwt-image:"pen";
        float:right;
        margin-top:4px;
        margin-right:3px;
        cursor:pointer;
    }
}
.scheduleItem{
    border-bottom:solid 1px #cccccc;
    overflow:hidden;
}
.scheduleItemTime{
    overflow:hidden;
    margin-top:3px;
    margin-left:5px;
    font-size:10px;
}
.bufferBody{
    border:solid 1px #e0e0e0;
}
.positioner{
    display:block;
    position:absolute;
    border:dashed 1px red;
    margin:0;
    padding:0;
    overflow:visible;
}

.timeLabel{
    display:block;
    position:absolute;
    width:80px;
    text-align:left;
    z-index:50;
}

.timeLabel .label{
    font-size:11px;
    color:red;
}

/* general sched. styles */

.schedTableCell{
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    float: left;
    display: block;
}

.frameSelPan{
    color: #444;
}

.frameSelBtn{
    width: 120px;
    height: 40px;
    background: #ccc;
    padding: 8px 15px;
    float: left;
}

.activeFrameSelBtn{
    width: 120px;
    height: 40px;
    background: #666;
    color: #fff;
    padding: 8px 15px;
    float: left;
}

.activeFrameSelBtn .day{
    display: block;
}

.noRoom{
    height: 40px;
    background: #eee;
    width: 49px;
}

.room{
    height: 40px;
    background: #eee;
    font-size: 14px;
    font-weight: bold;
}

.room .schedTableLabel{
    margin: 10px;
}

.schedWrapper{
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
}

.schedScroller{
    margin: 15px 0 0 0;
}

/* timeline */

.tlEmpty{
    width: 49px;
}

.tlChair{
    width: 49px;
    height: 20px;
    background: #eee;
}

.chairPanel{
    height: 20px;
    background: #eee;
    font-style: italic;
}

.chairPanel .schedTableLabel{
    margin: 4px 10px;
}

.schedCell{
    border-right: solid 1px #ccc;
    float: left;
    z-index: 3;
    position: relative;
}

.schedTLLabel{
    width: 49px;
    background: #eee;
    text-align: right;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #eee;
    display: block;
    float: left;
}

.schedTLEmpty{
    width: 49px;
    background: #eee;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    display: block;
    float: left;
    text-align: right;
}

.schedCellHour{
    border-bottom: dotted 1px #ccc;
}

.schedCellHalfHour{
    border-bottom: solid 1px #ccc;
}

.schedTLhour{
    margin: 3px 3px 0 0;
}

.blockBox{
    z-index: 1;
    border-right: solid 1px #ccc;
}

.abstractBlockBox{
    z-index: 5;
}

.submissionBox{
    border-radius: 4px;
    border-bottom: solid 1px #eee;
}

.submissionBlind{

}

.submissionLabel{
    padding: 0 0 0 4px;
    font-size: 10px;
}

.chairLine{
    float: left;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #aaa;
}

.chairTLCell{
    background: #ddd;
}

.chairLabel{
    border-right: solid 1px #ccc;
    float: left;
    background: #ddd;
}

.chairEdit{
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.bufferBtn{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.bufferItem{
    width: 158px;
    height: 28px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    padding: 4px 8px;
    margin: 0;
    float: left;
    border-radius: 4px;
}

.bufferItem .label{
    font-size: 10px;
}

.bufferSpace{
    float: left;
    display: block;
}

.bufferTalksBox{

}

.buffer{
    border: solid 1px #ccc;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.bufferSectionsBox{
    padding: 10px;
    background: #eee;
    border-bottom: solid 1px #ccc;
}

.bufferSectionsBox .chckbox{
    margin-right: 30px;
}

.controlPanel{
    position: relative;
}

.boundryPanel{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
