body,table,tr,td,form,input,textarea,ul,li,div,span,select,p {
    font-family:Arial,Helvetica;
    font-size:12px;
    color:#555555;
    margin:0px;
    padding:0px;
}
p{
    margin:7px 0;
}
a{
    color:#1a809a;
    text-decoration:underline;
}
a:hover{
    color:#1a809a;
    text-decoration:none;
}
ul{
   margin:10px 0 10px 20px;
}