@eval COLOR_CONSYS_BLUE consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_CONSYS_BLUE();

.actionLabel{
}
.actionLabelEnabled{
    cursor: pointer;
    font-weight: bold;
    display: inline;
    color: COLOR_CONSYS_BLUE;
}
.actionLabelDisabled{
    cursor: default;
    color: #bababa;
}
.marginLeft8{
    margin-left:8px;
}
.marginRight8{
    margin-right:8px;
}
.marginTop8{
    margin-top:8px;
}
.marginBot8{
    margin-bottom:8px;
}
.marginVer8{
    margin-top:8px;
    margin-bottom:8px;
}
.marginHor8{
    margin-left:8px;
    margin-right:8px;
}

#breadcrum{
    position:relative;
    top:-2px;
}
.contentCol{
    margin-bottom: 15px;
    width: 720px;
    float: left;
}

.panelCol{
    width: 220px;
    float: right;
}
div.positionStatic{
    position: static;
}
.footer{    
    display: block;
    clear: both;
}
.clearDiv{
    clear:both;
    overflow:hidden;
}
.clearLeft{
    clear:left;
}
.clearRight{
    clear:right;
}
.clearBoth{
    clear:both;
}
.breadcrumbSep{
    padding-left:5px;
    padding-right:10px;
}
.breadcrumbSepIn{
    position:relative;
    top:3px;
}

/* Helps  */
.helpPanel{
    float: left;
    margin-bottom: 10px;
    font-size: 11px;
}

.helpPanel .helpTitle{
    font-weight: bold;
    font-size: inherit;
    margin-bottom: 5px;
}

.helpPanel .helpItem{
    font-size: inherit;
    margin-bottom: 5px;
}

.helpPanel .helpItem a{
    font-size: inherit;
    color:COLOR_CONSYS_BLUE;
    font-weight:bold;
    text-decoration:underline;
}

.helpPanel .helpItem a:hover{
    font-size: inherit;
    color:COLOR_CONSYS_BLUE;
    font-weight:bold;
    text-decoration:none;
}

@sprite .msgCloseOver{
    gwt-image:"msgCloseOn";
}

@sprite .msgCloseOut{
    gwt-image:"msgCloseOff";
}

@sprite .topMenuCenter{
    gwt-image:"topMenuCenter";
    height:33px;
}
@sprite .topMenuSelectedCenter{
    gwt-image:"topMenuSelectCenter";
    height:27px;
    float:left;
}
.topMenuUnselectedCenter{
    height:27px;
}
@sprite .bottomMenuSeparator2{
    gwt-image:"bottomMenuSeparator2";
    width:940px;
    height:1px;
    margin-top:1px;
    margin-bottom:15px;
}
.bottomLinkSeparator{
    margin-left:12px;
    margin-right:12px;
    color:#BABABA;
    font-size:11px;
    float:left;
}
.bottomAcemceeLink{
    color:#555555;
    text-decoration: underline;
    padding-left:5px;
}
.panelMenuTopMargin{
    margin-top:6px;
}
@if user.agent ie6 ie7 ie8 {
    .inputPadd {
    padding-top:2px;
}
}
.inputPadd {
    padding-left:3px;
}
.inputAreaPadd {
    padding:2px 3px 2px 3px;
}
@if user.agent ie6 ie7 ie8 {
    .formTitleTop {
    padding-top:3px;
}
.minHeight {
    height:auto;
    height:400px;
}
.rowHeight {
    height:21px;
}
} @else {
    .formTitleTop {
    padding-top:2px;
}
.minHeight{
    min-height:400px;
}
.rowHeight {
    height:19px;
}
}
@sprite .actionImage{
    gwt-image:"actionImageBg";
    height:20px;
}
@sprite .actionImageDisabled{
    gwt-image:"actionImageBgDisabled";
    height:20px;
}
@sprite .actionImageBig{
    gwt-image:"actionImageBigBg";
    height:25px;
}
@sprite .actionImageBigDisabled{
    gwt-image:"actionImageBigBgDisabled";
    height:25px;
}
@sprite .separator{
    gwt-image:"panelSeparator2";
}
@sprite .corGrayBottom{
    gwt-image:"corGrayBottomBg";
}
@sprite .progressActive{
    gwt-image:"progActBg";
    width:208px;
    height:41px;
}
@sprite .progressInactive{
    gwt-image:"progInactBg";
    width:208px;
    height:41px;
}
@sprite .mfpActive{
    gwt-image:"subMenuSBg";
    height:32px;
    overflow:hidden;
}
@sprite .mfpInactive{
    gwt-image:"subMenuUSBg";
    height:32px;
    overflow:hidden;
}
@sprite .wrapperArrowSeparator{
    gwt-image:"arrowSep";
}
@sprite .contextPersonOut{
    gwt-image:"conPersonOut";
    width:8px;
    height:10px;
}
@sprite .contextPersonOver{
    gwt-image:"conPersonOver";
    width:8px;
    height:10px;
}
@sprite .contextGearOut{
    gwt-image:"conGearOut";
    width:10px;
    height:9px;
}
@sprite .contextGearOver{
    gwt-image:"conGearOver";
    width:10px;
    height:9px;
}
@sprite .contextCrossOut{
    gwt-image:"conCrossOut";
    width:8px;
    height:7px;
}
@sprite .contextCrossOver{
    gwt-image:"conCrossOver";
    width:8px;
    height:7px;
}
@sprite .breadcrumbCenter{
    gwt-image:"breadCenter";
    height:32px;
    width:930px;
}
@sprite .rollPlus{
    gwt-image:"rollPlus";
    height:18px;
    width:18px;
}
@sprite .rollMinus{
    gwt-image:"rollMinus";
    height:18px;
    width:18px;
}
@sprite .tabSelectedCenter{
    gwt-image:"tabSCenter";
    height:39px;
    float:left;
}
@sprite .tabUnselectedCenter{
    gwt-image:"tabUCenter";
    height:39px;
    float:left;
}
@sprite .menuSearcherInput{
    gwt-image:"menuSearchLeft";
    width:185px;
    height:24px;
    border:none;
}
@sprite .menuSearcherSubmit{
    gwt-image:"menuSearchRight";
    width:26px;
    height:24px;
    border:none;
}
@if user.agent ie6 ie7 ie8 {
    .menuSearcherTop{
    margin-top:3px;
}
.menuSearcherInput{
    padding-top:5px;
    padding-left:4px;
}
.menuSearcherSubmit{
    margin-top:1px;
}
} @else {
    .menuSearcherTop{
    margin-top:4px;
}
.menuSearcherInput{
    padding-left:4px;
}
}
/* panel */
.panel{
    position:relative;
    top:0px;
    left:0px;
    width:219px;
    background-color:#e0e0e0;
}
.panel .top,.panel .bottom, .panel .addTop{
    position:relative;
    top:0px;
    left:0px;
    height:4px;
}
.panel .addTop{
    background-color:#3a8bb1;
}
@sprite .panel .top .left{
    gwt-image:"panelLT";
    position:absolute;
    top:0px;
    left:0px;
    width:4px;
    height:4px;
    overflow:hidden;
}
@sprite .panel .top .center{
    gwt-image:"panelCT";
    position:absolute;
    top:0px;
    left:4px;
    width:211px;
    height:4px;
    overflow:hidden;
}
@sprite .panel .top .right{
    gwt-image:"panelRT";
    position:absolute;
    top:0px;
    left:215px;
    width:4px;
    height:4px;
    overflow:hidden;
}
@sprite .panel .addTop .addLeft{
    gwt-image:"panelALT";
    position:absolute;
    top:0px;
    left:0px;
    width:3px;
    height:4px;
    overflow:hidden;
}
@sprite .panel .addTop .addRight{
    gwt-image:"panelART";
    position:absolute;
    top:0px;
    left:216px;
    width:3px;
    height:4px;
    overflow:hidden;
}
@sprite .panel .bottom .left{
    gwt-image:"panelLB";
    position:absolute;
    top:0px;
    left:0px;
    width:4px;
    height:4px;
    overflow:hidden;
}
@sprite .panel .bottom .center{
    gwt-image:"panelCB";
    position:absolute;
    top:0px;
    left:4px;
    width:211px;
    height:4px;
    overflow:hidden;
}
@sprite .panel .bottom .right{
    gwt-image:"panelRB";
    position:absolute;
    top:0px;
    left:215px;
    width:4px;
    height:4px;
    overflow:hidden;
}
@sprite .panel div div .sep{
    gwt-image:"panelSep";
    height:2px;
    overflow:hidden;
    z-index:2;
}
.panel .addonTitle{
    background-color:#3a8bb1;
}
.panel .addonTitle .title{
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
    padding:2px 10px 5px 10px;
}
.panel .addSep{
    height:2px;
    background-color:#286680;
    overflow:hidden;
}
.panel .addSep div{
    margin-top:1px;
    background-color:#ffffff;
    height:1px;
    overflow:hidden;
}
.panel div div{
    position:relative;
    z-index:2;
}
.panel div div div div {
    position:static;
}
@sprite .panel div div .fst{
    gwt-image:"panelFst";
    position:absolute;
    top:0;
    left:0;
    width:219px;
    z-index:1;
}
.addon div div .fst{
    height:28px;
}
@sprite .panel div div .nxt{
    gwt-image:"panelNxt";
    position:relative;
    position:absolute;
    top:0;
    left:0;
    width:219px;
    margin-top:2px;
    z-index:1;
}
.addon div div .nxt{
    height:28px;
}
.panel .titleWrapper{
    height:28px;
    overflow:hidden;
    cursor:pointer;
}
.panel .titleWrapper .title{
    font-size:14px;
    font-weight:bold;
    color:COLOR_CONSYS_BLUE;
    padding:5px 10px 4px 10px;
    overflow:hidden;
}
.panel .titleWrapper .admin{
    width:15px;
    height:15px;
    float:right;
    margin-top:6px;
    margin-right:5px;
}
.panel .subAddon{
    background-color:#f0f0f0;
}
.panel .subAddon .subAddonItem{
    background-color:#f0f0f0;
    height:23px;
    cursor:pointer;
}
.panel .subAddon .subAddonItem .text{
    color:COLOR_CONSYS_BLUE;
    font-size:13px;
    font-weight:bold;
    padding:4px 10px 0 22px;
}
.panel .subAddon .subAddonItemSelected{
    background-color:#f9f9f9;
    height:23px;
    cursor:pointer;
}
.panel .subAddon .subAddonItemSelected .text{
    color:#333333;
    font-size:13px;
    font-weight:bold;
    padding:4px 10px 0 22px;
}
.panel .subAddon .subAddonTopSep{
    background-color:#a9a9a9;
    height:1px;
    overflow:hidden;
}
.panel .subAddon .subAddonSep{
    background-color:#cfcfcf;
    height:1px;
    overflow:hidden;
}

.downMenu{
    background-color:white;
    border: 1px solid #3A8BB1;
    z-index: 10;    
}

.downMenu .downMenuContainer{
    margin: 5px 0px;

}

.downMenu .downMenuItem{    
    line-height:20px;
    cursor:pointer;       
    text-align: left;
}

.downMenu .downMenuContainer div:hover{    
    background-color: #f0f0f0;
}


.downMenu .downMenuItem span{    
    color: COLOR_CONSYS_BLUE;
    font-size:13px;
    font-weight:bold; 
    margin:0px 30px 0px 15px;    
}



/* Datalist */
.dataList{

}

/** DATA LIST - obalovy objekt pre cely datalist */
.dataListHeader{
    clear: both;
    overflow: hidden;
}
/** DATA LIST - obalovy objekt pre cely datalist */
.dataListFooter{

}
/** DATA LIST - obalovy objekt pre cely datalist */
.dataListBody{
    margin: 10px 0px;
}

/* DataList Pager info text: 22 - 99 of 1000 */
.dataList .pager{
    width:180px;
    margin: 0px 5px;
    height: 24px;
    text-align: right;
    clear: both;
}


/** Pager */

.dataList .pagerInfoLabel{
    display: block;
    float: right;
    font-weight: bold;
    text-align: right;
    margin: 5px;
}

/* DataList Pager Sipky */
.dataList .pagerArrowRight{
    height: 24px;
    width: 25px;
    display: inline;
    cursor: pointer;
}
.dataList .pagerArrowLeft{
    height: 24px;
    width: 25px;
    display: inline;
    cursor: pointer;
}

.dataList .perPageSelect{
    float: left;
}

.dataListCommonOrdererTitle{
    font-weight: bold;
    margin: 3px 5px 0 5px;
    float: left;
}
.dataListCommonOrdererBreak{
    color:#8c8c8c;
    margin: 3px 3px 0 3px;
    display: inline;
}
.dataListCommonOrdererOrder{        
    cursor: pointer;
    margin-top: 3px;
}

.dataListCommonOrdererOrder div{
    text-decoration: underline;
    color:COLOR_CONSYS_BLUE;
    display: inline;
}
.dataListCommonOrdererOrderSelected{
    margin-top: 3px;
}

.dataListCommonOrdererOrderSelected div{
    display: inline;
}


.dataListExportButton{
    cursor: pointer;
}

.dataListExportDialog{
    background-color: white;
    border: 2px solid #0098c0;
    z-index: 5;
}

.dataListExportDialog .exportOption{
    margin: 5px;
    float: left;
    z-index: 5;
}

/** DATA LIST - zadne zaznamy sa nenacitaly */
.dataList .emptyList{
    height: 400px;   
}

/** DATA LIST - zadne zaznamy sa nenacitaly titulka*/
.dataList .emptyList .emptyListText{
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    display: block;
    position: relative;
    height: 80px;
    top: 40%;
    width: 300px;
    left: 25%;
}
/** DATA LIST ITEM - obalujuci objekt pro jeden zaznam */
.dataList .dataListItem{
    border-bottom: 1px solid #c4c4c4;
    text-align: left;
    width: 100%;
    overflow: hidden;
    clear: both;
}

.dataList .dataListItemNoBorder{
    text-align: left;
    width: 100%;
    overflow: hidden;
    clear: both;
}

.dataList .dataListItemBody{
    margin: 5px;
}

.dataList .dataListItemOdd{
    background-color: white;
}


.dataList .dataListItemEven{
    background-color: #f8f8f8;
}


.dataList .dataListItemSelected{
    background-color: #d6f884;
}

/* hlavicka */
.head{width:940px;}
.head .row{
    text-align:right;
    width:740px;
    height:39px;
    float:right;
    clear:right;
}
.head .row .headProfile{
    margin:20px 0 0 auto;
    float:right;
}

/** Reverser ?? */
@sprite .reverserOffLeft{
    gwt-image:"reverserLeftOff";
}
@sprite .reverserOffRight{
    gwt-image:"reverserRightOff";
}
@sprite .reverserOffCenter{
    gwt-image:"reverserCenterOff";
}

@sprite .reverserOnLeft{
    gwt-image:"reverserLeftOn";
}

@sprite .reverserOnRight{
    gwt-image:"reverserRightOn";
}

@sprite .reverserOnCenter{
    gwt-image:"reverserCenterOn";
}

@sprite .reverserOffRep{
    gwt-image:"reverserOff";
}

@sprite .reverserOnRep{
    gwt-image:"reverserOn";
}

.reverserOnLabel{
    font-weight:bold;
    color:#fbfbfb;
    margin-top:13px;
}

.reverserOffLabel{
    font-weight:bold;
    color:COLOR_CONSYS_BLUE;
    margin-top:13px;
}

.reverserOnHTML{
    color:#ffffff;
    margin:8px;
}
.reverserOnHTML div{
    color:#ffffff;
}

.reverserOffHTML{
    color:#555555;
    margin:8px;
}

.reverserOffHTML div{
    color:#555555;
}

/* Dialog - Styl pre body */
.dialogBodyPanel{
    text-align:left;
    z-index:91;
    position:relative;
}

.dialogInnerPanel{
    background-color: white;
    position:relative;
    left:20px;
}

.dialogInnerPanelWrapper{
    top:0px;
    height:100%;
    position:relative;
}

/** Create Dialog - Header Wrapper*/
.createDialogHeaderWrapper{
    width: 100%;
    clear: both;
    overflow: hidden;
}

/** Create Dialog - Header Wrapper Titulky */
.createDialogHeaderTitleWrapper{
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

/** Create Dialog - Header Titulka */
.createDialogHeaderTitle{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

/** Create Dialog - Header Controll Panel */
.createDialogHeaderControllPanel{
    text-align: left;
    float: left;
}

/** Create Dialog - Header Controll Panel Item */
.createDialogHeaderControllPanelItem{    
    margin-top: 23px;
    margin-left: 20px;
}

/** Create Dialog - Controll Panel */
.createDialogControllPanel{
    margin-top: 10px;    
    margin-left: 140px;
}
/* List Panel */

.listPanel{
}

.listPanel .listPanelItem{
    border-bottom: 1px solid #c4c4c4;
    text-align: left;
    overflow: hidden;
}

.listPanel .listPanelItemOdd{
    background-color: white;
}

.listPanel .listPanelItemEven{
    background-color: #f8f8f8;
}

.listPanel .listPanelItemSelected{
    background-color: #d6f884;
}

.listPanelEditAction{
    margin-left: 10px;
    margin-bottom: 5px;
}

.listPanelEditAction div{
    font-size: 11px;
}

.listPanelEditItemContent{
    float: left;
    margin: 5px 0px 5px 5px;
    width: 250px;
    overflow: hidden;
}

.listPanelEditItemAction{
    float: right;
    margin: 5px 5px 5px 0px;
    text-align: right;
    width: 69px;
    overflow: hidden;
}

.listPanelEditItemAction div{
    font-size: 11px;
}

@sprite .bigBlueB {
    gwt-image:"bigBlueB";
}
@sprite .bigGreenB {
    gwt-image:"bigGreenB";
}
@sprite .bigRedB {
    gwt-image:"bigRedB";
}
@sprite .bigDisabledB {
    gwt-image:"bigDisabledB";
}
.loadDots{
    float:left;
    margin-top:4px;
    margin-left:10px;
}
@sprite .unpackingBig{
    gwt-image:"unpackingBigButton";
}
.unpackingBigIconDown{
    position:relative;
    top:8px;
    left:6px;
}
.unpackingBigIconUp{
    position:relative;
    top:6px;
    left:6px;
}

.borderGray1{
    border:1px solid #888888;
}

.htmlAgreeing{

}
.htmlAgreeing a{
    color:COLOR_CONSYS_BLUE;
    font-weight:bold;
    text-decoration:underline;
}
.htmlAgreeing a:hover{
    color:COLOR_CONSYS_BLUE;
    font-weight:bold;
    text-decoration:none;
}

.changeLocale{
    float:right;
    margin:17px 0 0 20px;
}

.paymentPriceListHeadTitle{
    padding-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
    font-weight:bold;
    text-decoration:underline;
}
.paymentPriceListHeadTitleNext{
    padding-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
    font-weight:bold;
    text-decoration:underline;
    text-align:right;
}

.colorOrange{
    color:orange;
}
.infoBg{
    background-color:#c1e9fc;
}

.editWithRemoverAtRight{
    float: right;
    margin-top:5px;
}
.editWithRemoverItem{
    float: left;
    margin-left: 10px;
}

@external gwt-Label;
.helpPopupWrapper{
    z-index:200;
}
.helpPopup{
    width:214px;
    position:relative;
}
@sprite .helpPopup .helpTitle{
    gwt-image:"helpTitleFull";
}
.helpPopup .helpTitle .gwt-Label{
    font-weight: bold;
    margin: 12px 20px 0px 20px;
    text-align: left;
    overflow: hidden;
    height: 14px;
}
@sprite .helpPopup .helpContent{
    gwt-image:"helpContentFull";
}
.helpPopup .helpContent .gwt-Label{
    margin: 5px 20px;
    text-align: left;
}
@sprite .helpPopup .helpTriangleLeft{
    gwt-image:"helpTriangleLeft";
    position:absolute;
    top:35px;
    left:-5px;
}
@sprite .helpPopup .helpTriangleRight{
    gwt-image:"helpTriangleRight";
    position:absolute;
    top:35px;
    left:206px;
}
@sprite .helpPopup .helpTriangleBottom{
    gwt-image:"helpTriangleBottom";
    position:absolute;
    left:20px;
}
@sprite .helpPopup .helpBottom{
    gwt-image:"helpBottomFull";
    margin-left:1px;
}
.more{
    padding-left:10px;
}

.smartDialogClose{
    float:right;
    width:26px;
    height:20px;
    cursor: pointer;
}
.smartDialogCloseImage{
    margin: 4px 0 0 8px;
}

.loginForm tr td .gwt-Label{
    font-size: 12px;
    position: relative;
    top: 3px;
}
.loginForm tr td .actionLabel{
    font-size: 12px;
}
.rememberMe{
    margin-left: 5px;
    float: left;
}

.selectBox{
}

.bottomMenu{
    float:left;
    margin: 6px 0 0 12px;
}

.rowPositioner{
    float:right;
    overflow:hidden;
}

.waitingWrapper{
    position:relative;
    text-align:center;
}
.waitingText{
    text-align:center;
    margin-top:3px;
}
.uploadWrapper{
    position: absolute;
    z-index: 19999;
    top: -1000px;
    left: -1000px;
}
