textarea,select,input[type="text"],input[type="submit"]
{
  text-decoration:none;
  color: #069;
  font-weight:bold;
  border:1px solid #09C;

}

textarea,select,input[type="text"]
{
  width:300px;
}

label
{
  font-weight:bold;
  font-size: 12px;
}

textarea 
{
  overflow:scroll
  white-space:nowrap;
}
