@external .gwt-HTML;
@external .input-tag-mode-write .input-tag-mode-select-box;
    
.form{    
}

.form .input-tag-mode-write{
    margin-top: -6px;
}

.form .input-tag-mode-select-box{
    margin-top: -7px;
}

.formElement{
}

.formElementNormal{
    margin-bottom: 7px;    
}
.formElementTitle{
    margin-bottom: 17px;        
}
.formElementRequired{
    font-weight: bold;
}
.formElementTitleWidget{
    float: left;
    text-align: right;
    width: 125px;
}
.formElementTitleWidget .formElementTitleWidgetTitle{    
    float:right;
    width: 112px;
}
@if user.agent ie6 ie7 ie8 ie9 {
    .formElementTitleWidget .formElementTitleWidgetTitle{
    margin-bottom:10px;
}
}
.formElementTitle .formElementValueWidget .gwt-HTML{
    font-size: 20px;
}
.formElementTitle .formElementTitleWidget{
    line-height: 20px;
}
.formElementTitleWidget .formElementTitleWidgetEnd .formElementTitleHelp{
    color: #1A809A;            
    padding-left: 2px;
    font-weight: bold;
    cursor: default;
}
.formElementTitleWidget .formElementTitleWidgetEnd{
    float:right;   
}
.formElementValueWidget{
    float: left;
    width: 545px;
    margin-left: 30px;
}
.formElementValueWidgetDefault{
    color: #9a9a9a;
}
.formPad{
    width:125px;
    height:10px;
    overflow:hidden;
}

.form .inputWrapper{
    position: relative;
    left: -6px;
    top: -7px;
}

.errorLabel{
    color: red;
    position: relative;
    top: -6px;
}