.contentPanelWrapper{
    clear: both;
}

@sprite .contentPanelWrapperTop{
    gwt-image:"panelWrapperTop";          
}

@sprite .contentPanelWrapperContent{
    gwt-image:"panelWrapperContent";
    overflow: visible;
}

@sprite .contentPanelWrapperBottom{
    gwt-image:"panelWrapperBottom";    
}

.textAreaWrapper{
}
.textAreaWrapper .textAreaWrapperTop{
    position: relative;
}
@sprite .textAreaWrapper .textAreaWrapperTopLeft{
    gwt-image:"textAreaWrapperTopLeft";
    float: left;
}
@sprite .textAreaWrapper .textAreaWrapperTopCenter{
    gwt-image:"textAreaWrapperTopCenter";
    float: left;
}
@sprite .textAreaWrapper .textAreaWrapperTopRight{
    gwt-image:"textAreaWrapperTopRight";
    float: left;
}
.textAreaWrapperCenter{
    position: relative;
    top: 0px;
}
@if user.agent ie6 ie7 ie8 ie9 {
    .textAreaWrapperCenter{
    height: 100%;
}}
.textAreaWrapperCenterLeft{
    height: 100%;
    position: absolute;
    top: 0px;
}
@sprite .textAreaWrapper .textAreaWrapperCenter .textAreaWrapperCenterLeft{
    gwt-image:"textAreaWrapperCenterLeft";
}
.textAreaWrapperCenterCenter{
    position: relative;
}
.textAreaWrapperCenterRight{
    height: 100%;
    position: absolute;
    top: 0px;
}
@sprite .textAreaWrapper .textAreaWrapperCenter .textAreaWrapperCenterRight{
    gwt-image:"textAreaWrapperCenterRight";
}
.textAreaWrapper .textAreaWrapperBottom{
    position: relative;
}
@sprite .textAreaWrapper .textAreaWrapperBottomLeft{
    gwt-image:"textAreaWrapperBottomLeft";
    float: left;
}
@sprite .textAreaWrapper .textAreaWrapperBottomCenter{
    gwt-image:"textAreaWrapperBottomCenter";
    float: left;
}
@sprite .textAreaWrapper .textAreaWrapperBottomRight{
    gwt-image:"textAreaWrapperBottomRight";
    float: left;
}
.textAreaWrapper .textAreaWrapperCenterCenter{
    background-color: #ffffff;
}
.textAreaWrapperOver{
    cursor: text;
}
@sprite .textAreaWrapperOver .textAreaWrapperTopLeft{
    gwt-image:"textAreaWrapperOverTopLeft";
    float: left;
}
@sprite .textAreaWrapperOver .textAreaWrapperTopCenter{
    gwt-image:"textAreaWrapperOverTopCenter";
    float: left;
}
@sprite .textAreaWrapperOver .textAreaWrapperTopRight{
    gwt-image:"textAreaWrapperOverTopRight";
    float: left;
}
@sprite .textAreaWrapperOver .textAreaWrapperCenter .textAreaWrapperCenterLeft{
    gwt-image:"textAreaWrapperOverCenterLeft";
}
@sprite .textAreaWrapperOver .textAreaWrapperCenter .textAreaWrapperCenterRight{
    gwt-image:"textAreaWrapperOverCenterRight";
}
@sprite .textAreaWrapperOver .textAreaWrapperBottomLeft{
    gwt-image:"textAreaWrapperOverBottomLeft";
    float: left;
}
@sprite .textAreaWrapperOver .textAreaWrapperBottomCenter{
    gwt-image:"textAreaWrapperOverBottomCenter";
    float: left;
}
@sprite .textAreaWrapperOver .textAreaWrapperBottomRight{
    gwt-image:"textAreaWrapperOverBottomRight";
    float: left;
}
.textAreaWrapperOver .textAreaWrapperCenterCenter{
    background-color: #eaf8fc;
}
.textAreaWrapperNormal{
}
@sprite .textAreaWrapperNormal .textAreaWrapperTopLeft{
    gwt-image:"textAreaWrapperNormalTopLeft";
    float: left;
}
@sprite .textAreaWrapperNormal .textAreaWrapperTopCenter{
    gwt-image:"textAreaWrapperNormalTopCenter";
    float: left;
}
@sprite .textAreaWrapperNormal .textAreaWrapperTopRight{
    gwt-image:"textAreaWrapperNormalTopRight";
    float: left;
}
@sprite .textAreaWrapperNormal .textAreaWrapperCenter .textAreaWrapperCenterLeft{
    gwt-image:"textAreaWrapperNormalCenterLeft";
}
@sprite .textAreaWrapperNormal .textAreaWrapperCenter .textAreaWrapperCenterRight{
    gwt-image:"textAreaWrapperNormalCenterRight";
}
@sprite .textAreaWrapperNormal .textAreaWrapperBottomLeft{
    gwt-image:"textAreaWrapperNormalBottomLeft";
    float: left;
}
@sprite .textAreaWrapperNormal .textAreaWrapperBottomCenter{
    gwt-image:"textAreaWrapperNormalBottomCenter";
    float: left;
}
@sprite .textAreaWrapperNormal .textAreaWrapperBottomRight{
    gwt-image:"textAreaWrapperNormalBottomRight";
    float: left;
}
.textAreaWrapperNormal .textAreaWrapperCenterCenter{
    background-color: #ffffff;
}
.textAreaWrapperDisabled{
}
@sprite .textAreaWrapperDisabled .textAreaWrapperTopLeft{
    gwt-image:"textAreaWrapperDisabledTopLeft";
    float: left;
}
@sprite .textAreaWrapperDisabled .textAreaWrapperTopCenter{
    gwt-image:"textAreaWrapperDisabledTopCenter";
    float: left;
}
@sprite .textAreaWrapperDisabled .textAreaWrapperTopRight{
    gwt-image:"textAreaWrapperDisabledTopRight";
    float: left;
}
@sprite .textAreaWrapperDisabled .textAreaWrapperCenter .textAreaWrapperCenterLeft{
    gwt-image:"textAreaWrapperDisabledCenterLeft";
}
@sprite .textAreaWrapperDisabled .textAreaWrapperCenter .textAreaWrapperCenterRight{
    gwt-image:"textAreaWrapperDisabledCenterRight";
}
@sprite .textAreaWrapperDisabled .textAreaWrapperBottomLeft{
    gwt-image:"textAreaWrapperDisabledBottomLeft";
    float: left;
}
@sprite .textAreaWrapperDisabled .textAreaWrapperBottomCenter{
    gwt-image:"textAreaWrapperDisabledBottomCenter";
    float: left;
}
@sprite .textAreaWrapperDisabled .textAreaWrapperBottomRight{
    gwt-image:"textAreaWrapperDisabledBottomRight";
    float: left;
}
.textAreaWrapperDisabled .textAreaWrapperCenterCenter{
    background-color: #d4d4d4;
}
.textAreaWrapperContentNormal{
    border: none;
    background-color: #ffffff;
}
.textAreaWrapperContentEdit{
    border: none;
    background-color: #ffffff;
}
.textAreaWrapperContentOver{
    border: none;
    background-color: #eaf8fc;
}
.textAreaWrapperContentDisabled{
    border: none;
    background-color: #d4d4d4;
}
