@external gwt-Label;

/* ACTION IMAGE BIG */
.actionImageBig{
}
.actionImageBigContent{
    cursor: pointer;
    float:left;
}
.actionImageBigLeft{
    float: left;
    width: 5px;
    height: 40px;
}
.actionImageBigCenter{
    float: left;
    height: 35px;
    padding: 5px 22px 0 22px;
    overflow: hidden;
}
.bigClear .actionImageBigCenter{
    padding: 9px 22px 0 22px;
}
.actionImageBigCenter .gwt-Label{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}
.bigClear .actionImageBigCenter .gwt-Label{
    color: #1a809a;
    font-size: 16px;
    font-weight: normal;
}
.actionImageBigRight{
    float: left;
    width: 5px;
    height: 40px;
}
@sprite .bigGreen .actionImageBigLeft{
    gwt-image: "actionImageBigGreenLeft";
}
@sprite .bigGreen .actionImageBigCenter{
    gwt-image: "actionImageBigGreenCenter";
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .bigGreen .actionImageBigCenter{
    height: 35px;
}
}
@sprite .bigGreen .actionImageBigRight{
    gwt-image: "actionImageBigGreenRight";
}
@sprite .bigRed .actionImageBigLeft{
    gwt-image: "actionImageBigRedLeft";
}
@sprite .bigRed .actionImageBigCenter{
    gwt-image: "actionImageBigRedCenter";
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .bigRed .actionImageBigCenter{
    height: 35px;
}
}
@sprite .bigRed .actionImageBigRight{
    gwt-image: "actionImageBigRedRight";
}
@sprite .bigBlue .actionImageBigLeft{
    gwt-image: "actionImageBigLeft";
}
@sprite .bigBlue .actionImageBigCenter{
    gwt-image: "actionImageBigCenter";
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .bigBlue .actionImageBigCenter{
    height: 35px;
}
}
@sprite .bigBlue .actionImageBigRight{
    gwt-image: "actionImageBigRight";
}
@sprite .bigClear .actionImageBigLeft{
    gwt-image: "actionImageBigClearLeft";
}
@sprite .bigClear .actionImageBigCenter{
    gwt-image: "actionImageBigClearCenter";
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .bigClear .actionImageBigCenter{
    height: 35px;
}
}
@sprite .bigClear .actionImageBigRight{
    gwt-image: "actionImageBigClearRight";
}
@sprite .disabled .actionImageBigLeft{
    gwt-image: "actionImageBigDisabledLeft";
    cursor: default;
}
@sprite .disabled .actionImageBigCenter{
    gwt-image: "actionImageBigDisabledCenter";
    cursor: default;
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .disabled .actionImageBigCenter{
    height: 35px;
}
}
@sprite .disabled .actionImageBigRight{
    gwt-image: "actionImageBigDisabledRight";
    cursor: default;
}

/* ACTION IMAGE */
.actionImage{
}
.actionImageContent{
    cursor: pointer;
    float:left;
}
.actionImageLeft{
    float: left;
    width: 3px;
    height: 23px;
}
.actionImageCenter{
    float: left;
    height: 19px;
    padding: 4px 9px 0 9px;
    overflow: hidden;
}
.withIcon .actionImageCenter{
    padding: 4px 9px 0 4px;
}
.actionImageCenter .gwt-Label{
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.iconWrapper .gwt-Label{
    float: left;
}
.actionImageRight{
    float: left;
    width: 3px;
    height: 23px;
}
@sprite .enabled .actionImageLeft{
    gwt-image: "actionImageLeft";
}
@sprite .enabled .actionImageCenter{
    gwt-image: "actionImageCenter";
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .enabled .actionImageCenter{
    height: 19px;
}
}
@sprite .enabled .actionImageRight{
    gwt-image: "actionImageRight";
}
@sprite .disabled .actionImageLeft{
    gwt-image: "actionImageDisabledLeft";
    cursor: default;
}
@sprite .disabled .actionImageCenter{
    gwt-image: "actionImageDisabledCenter";
    cursor: default;
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .disabled .actionImageCenter{
    height: 19px;
}
}
@sprite .disabled .actionImageRight{
    gwt-image: "actionImageDisabledRight";
    cursor: default;
}
@sprite .red .actionImageLeft{
    gwt-image: "actionImageRedLeft";
}
@sprite .red .actionImageCenter{
    gwt-image: "actionImageRedCenter";
}
@if user.agent ie6 ie7 ie8 ie9 {
} @else {
    .red .actionImageCenter{
    height: 19px;
}
}
@sprite .red .actionImageRight{
    gwt-image: "actionImageRedRight";
}

.icon{
    float: left;
    margin-right: 8px;
}
/* icon */
@sprite .iconWrapper .iconConfirm{
    gwt-image: "iconConfirm";
    margin-top:3px;
}

/* icon big */
@sprite .iconBigWrapper .iconConfirm{
    gwt-image: "iconBigConfirm";
}

.over .gwt-Label{
    text-decoration: underline;
}
