div.flash{ font-family: Arial;}
.flash { width: 555px; margin: 20px auto; padding: 20px; background: #fff; color: #333; border: 1px solid #fff; -moz-box-shadow: 0px 0px 3px #ccc; -webkit-box-shadow: 0px 0px 3px #ccc; box-shadow: 0px 0px 3px #ccc;}

.flash.msg.warning { background: none 10px 50% no-repeat; }
.flash.msg.info { background: none 10px 50% no-repeat; }
.flash.msg.done { background: none 10px 50% no-repeat; }
.flash.msg.error { background: none 10px 50% no-repeat; }

.flash.msg { padding: 10px; padding-left: 35px; background-color: #fff; }
.flash.msg.warning { border: 2px solid #F2DD8C; background-color: #FFF5CC; }
.flash.msg.warning a { color: #df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus { color: #303030; }
.flash.msg.info { border: 2px solid #B8E2FB; background-color: #E8F6FF; }
.flash.msg.done { border: 2px solid #BBDF8D; background-color: #EAF7D9; }
.flash.msg.error { border: 2px solid #FFAEAE; background-color: #FEEBEB; }

div.close{ font-family: Arial;}
.close{width: 640px; margin: 0 auto; background: #fff; color: #333; text-align: center;}
.close a { color: #df0000;} a:hover, a:active, a:focus { color: #303030; }
