.faqState{
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin: 10px 10px 10px 10px;
}
.faqQuestion{
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin: 10px 10px 10px 0px;
}
.faqAnswer{
    margin: 0px 20px 10px 30px;
}
.faqAnswer a{
    color:#1A809A;
    font-weight:bold;
    text-decoration:underline;
}
.faqAnswer a:hover{
    color:#1A809A;
    font-weight:bold;
    text-decoration:none;
}
.fillEmailDialogTitle{
    font-weight: bold;
    margin: 0 20px 10px 20px;
}
