/** User Label Lists */
.userLabelListItem{
    margin: 5px;
    width: 100%;
    overflow: hidden;
}

.userLabelListEditItemName{
    float: left;
    margin: 5px 0px 5px 5px;
    width: 250px;
    overflow: hidden;
}

.userLabelListEditItemAction{
    float: right;
    margin: 5px 5px 5px 0px;
    text-align: right;
    width: 69px;
    overflow: hidden;
}

.userLabelListEditItemAction div{
    font-size: 11px;
}

/** User List */
.userListItemPortrait{
    float: left;
    margin: 5px;
}

.userListItemName{
    float: right;
    margin: 5px 5px 5px 0px;
    width: 280px;
}

.userListEditItemName{
    float: left;
    margin: 5px 0px 5px 5px;
    width: 260px;
    overflow: hidden;
}

.userListEditItemAction{
    height: 100%;
    float: right;
    font-size: 11px;
    margin: 5px 5px 5px 0px;
    text-align: right;    
    overflow: hidden;
}

.userListEditItemAction div{
    position: relative;
    top: 28%;
    font-size: 11px;
}



/* UserSearchDialog */
.userSearchDialogBody{


}

.userSearchDialogBody .userSearchDialogHelp{
    font-size: 11px;
    color: #999999;
    margin-bottom: 5px;
    margin-left: 10px;
}

.userSearchDialogBody .userSearchDialogTextBox{
    margin: 10px 40px 5px 10px;
    display: inline;
}

.userSearchDialogBody .userSearchDialogResultScrollPanel{
}

/* User Label */
.userLabel{
    display: inline;
    cursor: pointer;
    font-weight: bold;
    color: #1a809a;
    text-decoration: underline;
}


.userInlineListPanel .userLabel{
    margin-right: 5px;
}



/* User Card */
.userCard{}

.userCardContent{
    width: 305px;
}

.userCardContentControlls{
    float: right;
    margin-top: 5px;
    margin-right: 5px;    
}

.userCardContentPortrait{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 56px;
    height: 56px;        
}

.userCardContentUserInfo{
    margin-top: 5px;
    width: 200px;
    float: left;
}