@external .gwt-Label;
.registerItemLeftPart{
    margin-left:15px;
    margin-right:15px;
    width:420px;
    float:left;
}
.registerItemLeftPartRegistered{
    margin-right:15px;
    width:420px;
    float:left;
}
.registerItemRightPart{
    width:170px;
    float:left;
}
.registerAttention{
    color:#b02424;
}
.registerItemUnselected{
    margin:12px;
}
.registerItemSelected{
    margin:9px
}
.registrationOrderPanelDiscountText{
    margin-top:5px;
    margin-left:17px;
}

.participantInfoPanel{
    margin-top: 5px;
}

.participantInfoPanel .participantInfoPanelPortrait{
    float: left;
    width: 70px;
}

.participantInfoPanel .common-leftColumn{
    width: 330px;
    float: left;
}


.participantInfoPanel .common-rightColumn{
    width: 350px;
    float: right;
}


.participantInfoPanel .participantInfoPanelPersonal{
    float: left;
    margin-bottom: 20px;
    width: 260px;
}


.participantInfoPanel .participantInfoPanelPersonal .incomplete{
    color:#BABABA;
    font-style:italic;
}

.participantInfoPanel .participantInfoPanelPersonal #pName{
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
}

.participantInfoPanel .participantInfoPanelPersonal #pPosition{
    margin-bottom: 10px;
    float:left;
}
.participantInfoPanel .participantInfoPanelPersonal #pAt{
    margin: 0px 5px 10px 5px;
    float:left;
}
.participantInfoPanel .participantInfoPanelPersonal #pOrganization{
    margin-bottom: 10px;
    float:left;
}
.participantInfoPanel .participantInfoPanelPersonal input{
    width: 100%;
    margin-bottom: 10px;
}
.participantInfoPanel .textAreaUpdateBox{        
    margin-bottom: 10px;
    width: 350px;
}
.participantInfoPanel .textAreaUpdateBox textarea{        
    margin-bottom: 5px;    
}
.participantInfoPanel .textAreaUpdateBox .gwt-Label{        
    font-weight: bold;    
    margin-bottom: 5px;
}


.registrationOrderPanel{}

.registrationOrderPanel .registrationOrderPanelWrapper{}

.registrationOrderPanelWrapper .registrationItemContent{    
}


.registrationOrderPanelWrapper .registrationItemTitle div{    
    font-weight: bold;    
}


.registrationItemContent .registrationItemDiscountCoupon{
    margin-top: 3px;
}

.registrationItemContent .registrationItemTitleLabel{}

.registrationItemContent .registrationItemTitleAction{
    float: left;
    margin-right: 10px;
}

.registrationItemContent .registrationItemTitlePrice{}

.registrationItemContent .registrationItemDescription{}

.registrationItemContent .registrationItemAlerts{}

.registrationItemContent .registrationItemPricePanel{}

.registrationItemContent .registrationItemPricePanel .common-leftColumn{
    width: 530px;
    float: left;
}


.registrationItemContent .registrationItemPricePanel .common-rightColumn{
    width: 150px;
    float: right;
    text-align: right;
}

/*
--  DISCOUNT COUPON PANEL
*/
.registrationItemDiscountCoupon .common-title{
    float:left;
    font-weight: bold;
    margin-top: 3px;
    margin-right: 10px;
}

.registrationItemDiscountCoupon .common-action{    
    margin-top: 3px;    
}


.registrationItemDiscountCoupon .registrationItemDiscountCouponAmount{
    text-align: right;
    float:right;
    font-weight: bold; 
}

.registrationItemDiscountCoupon .registrationItemDiscountCouponInput{
    float:left;
    margin-right: 20px;

}
.registrationItemDiscountCoupon .input-consysTextBox {
    top: -5px;
}


/*
--  REGISTRATION FORM ---ITEM
*/
.registrationFormItem{}

.registrationFormItem .registrationItemTitle div{
    font-size: 17px;        
}

.registrationFormItem .registrationItemContent .registrationItemDescription{
    margin-top: 10px;
}

.registrationFormItem .registrationItemContent .registrationItemAlerts{  
    margin-top: 10px;
}

/*
--  REGISTRATION FORM --- SUBITEM
*/
.registrationFormSubItem {    
}


.registrationFormSubItem .registrationItemContent{
    margin-top: 20px;
}    



.registrationFormSubItem .registrationFormSubItemAction{
    float:left;
    margin-right: 10px;    
}

.registrationFormSubItem .registrationItemTitle div{        
    font-size: 12px;
}

.registrationFormSubItem .registrationItemTitle .common-notActive{
    color: rgb(186, 186, 186);
}

.registrationFormSubItem .registrationItemPricePanel,
.registrationFormSubItem .registrationItemContent .registrationItemDiscountCoupon,
.registrationFormSubItem .registrationItemContent .quantityPanel{
    margin-left: 23px;     
}

.registrationFormSubItem .registrationItemPricePanel .common-leftColumn{
    width: 490px;    
}

/*
--  OUTER REGISTRATION FORM
*/
.outerRegistrationForm{}

/*
--  REGISTRATION FORM
*/
.registrationForm{

}

.registrationForm .registrationItemTitleLabel{
    cursor: pointer;
}

.registrationForm .registrationOrderPanel {
    padding: 10px;
}

.registrationFormPricingInfo {
    margin-top:10px;
    margin-left:3px;
    width:530px;
}
.registrationFormPricingLabel {
    color:#888888;
    white-space:nowrap;
}
.registrationFormPricingPanel{
    float:left;
    width:450px;
}
.registrationFormPricingTitle {
    float:left;
    margin-right:5px;
    color:#888888;
    font-weight:bold;
}

.registrationForm .common-active{
    background-color: #F8F8F8;
}




.subbundlePanelDiscount{
    margin-left:23px;
    margin-top:5px;
}

.subbundlePanelCapacity{
    margin-left:23px;
}

.waitingCapacity{
    font-weight: bold;
    margin-bottom: 15px;
}
.waitingCapacityFull{
    color: red;
}
.waitingCapacityFree{
    color:green;
}

.registrationOptionItemPanel .itemPanelLabel{
    float:left;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 3px;
}
.registrationOptionItemPanel .itemPanelBox{
    float:left;
}

.quantityPanel{
    margin-top:10px;
}
.quantityPanel .quantityPanelLabel{
    float:left;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 3px;
}
.quantityPanel .quantityPanelBox{
    float:left;
}
.quantityPanel .quantityPanelMultipleLabel{
    float:right;
    font-weight: bold;
    text-align: right;
}
.badgesSizeDialogTitle{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
.badgesSizeDialogSizeButtonWrapper{
    margin-left:20px;
}
.badgesSizeDialogSizeButton{
    float:left;
    margin-right:20px;
}
.internalRegistrationDialog{
    margin-left:190px;
}
.internalRegistrationDialog .button{
    float: left;
    margin-right:20px;
}
.internalRegistrationDialog .cancel{
    float: left;
    margin-top:3px;
}
.contentPanel .panel{
    margin: 0 10px;
}
.contentPanel .registrationFormItem{
    font-weight: bold;
}
.contentPanel .registrationFormItem .quantityPanel{
    padding-right:5px;
    margin-left:35px;
}
.contentPanel .registrationFormItem .registrationItemTitle{
    padding-left:5px;
    padding-right:5px;
}
.contentPanel .registrationFormItem .registrationItemTitle .registrationItemTitleAction{
    width:20px;
    float: left;
}
.contentPanel .registrationFormItem .registrationItemTitle .registrationItemTitleLabel{
    width:390px;
    float: left;
}
.contentPanel .registrationFormItem.common-active{
    background-color: #F8F8F8;
}
.contentPanel .registrationFormItem .registrationItemContent .registrationItemPricePanel .common-leftColumn{
    width:420px;
}
.contentPanel .registrationFormSubItem .quantityPanel{
    margin-left:55px;
}
.contentPanel .registrationFormSubItem .registrationItemTitle .registrationItemTitleAction{
    width:15px;
    float:left;
}
.contentPanel .registrationFormSubItem .registrationItemTitle .registrationItemTitleLabel{
    width:360px;
    float:left;
}
.contentPanel .registrationFormSubItem .registrationItemTitle .registrationItemTitlePrice.common-notActive {
    color: #bababa;
}
.contentPanel .registrationFormSubItem .registrationItemContent .registrationItemPricePanel .common-leftColumn{
    width:390px;
}
.contentPanel .eco-paymentDialogOk{
    margin-left:190px;
}

.internalRegistrationBundleLabel{
    float:right;
    margin-left:30px;
    font-size: 16px;
    width:300px;
    text-align: right;
}
.internalRegistrationUserName{
    float:left;
    width:360px;
}

.userAnswersAndWish{
}
.userAnswersAndWish .common-leftColumn{
    width: 350px;
    float: left;
}
.userAnswersAndWish .common-leftColumn.leftColumnAdmin{
    width: 330px;
}
.userAnswersAndWish .common-rightColumn{
    width: 330px;
    float: right;
}
.userAnswersAndWish .common-rightColumn.rightColumnAdmin{
    width: 350px;
}
.userAnswersAndWish .common-leftColumn .textAreaUpdateBox{
    margin-top:10px;
}
.userAnswersAndWish .common-leftColumn .textAreaUpdateBox textarea{        
    margin-bottom: 5px;    
}
.userAnswersAndWish .common-leftColumn .textAreaUpdateBox .gwt-Label{        
    font-weight: bold;    
    margin-bottom: 5px;
}
.orderDetailPanel .title{
    font-weight: bold;
    font-size: 20px;
    margin:0 10px 10px 0;
    float:left;
}
.orderDetailPanel .detils{
    display:block;
    margin:4px 0 10px 0;
    float: left;
}
.orderDetailPanel .bulletItemPanel{
    margin-top:10px;
}
.orderDetailPanel .bulletItemPanel .bulletItem{
    float:left;
    margin:3px 10px 0 0;
}
.orderDetailPanel .bulletItemPanel .gwt-Label{
    float:left;
    width:320px;
}
.orderDetailPanel .bulletItemPanel .discount{
    margin:0 0 10px 15px;
    font-size: 10px;
}
.orderDetailPanel .totalPrice{
    margin-bottom: 10px;
}
.orderDetailPanel .totalPrice .gwt-Label{
    font-size: 26px;
    font-weight: bold;
}
.orderControlPanel .action-actionImageCenter .gwt-Label{
    width:240px;
    text-align: center;
}
.payButtonPal{
    margin-bottom:3px;
}
.payButtonCard{
    margin-bottom:4px;
}
