@eval COLOR_CONSYS_BLUE consys.common.gwt.client.ui.img.SystemBundle.INSTANCE.constants().COLOR_CONSYS_BLUE();

@def CONTENT_WIDTH 750px;

@external .gwt-HTML;
@external .gwt-Label;

html, body {
    height: 100%;
    margin:0;
    padding:0;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -105px;
    color: #555555;
}
#wrapperNoFooter{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    color: #555555;
}
#footer {
    height: 105px;
}

.middlePartCenter{
    margin:0px auto;
    width: CONTENT_WIDTH;
    text-align: left;
}

.top{
    background-color: #1b1b1b;
    text-align: center;
}
@sprite .top .topCenter{
    gwt-image: "topCenterBackground";
    background-color: #1b1b1b;
    height:75px;
    margin:0px auto;
    text-align:left;
    width: CONTENT_WIDTH;
}
@sprite .top .topTakeplace{
    gwt-image: "topTakeplace";
    position: relative;
    top: 21px;
}
.top .topLanguage{
    float: right;
    margin-top: 32px;
    width: 200px;
}
.topLanguage .gwt-Label{
    float:right;
    margin: 2px 5px 0 0;
    font-weight: bold;
    color: white;
    font-size: 14px;
}
.topLanguage .ui-selectBox{
    background-color: black;
    float:right;
}
.topLanguage .ui-selectBox input{
    background-color: black;
}

@sprite .topSeparator{
    gwt-image: "topSeparator";
    height:12px;
    width:100%;
}

.bottomSeparator{
    background-color: #e5e5e5;
    height:6px;
}

@sprite .bottom1{
    gwt-image: "bottomBackground";
    background-color: #1b1b1b;
    height: 67px;
}
.bottom1 .bottomCenter{
    margin:0px auto;
    width: CONTENT_WIDTH;
}
@sprite .bottom1 .bottomTakeplace{
    gwt-image: "bottomTakeplace";
    position: relative;
    top: 19px;
}

.bottom2{
    background-color: #0c0c0c;
    height: 32px;
    text-align: center;
}
.bottom2 .bottomCenter{
    margin:0px auto;
    width: CONTENT_WIDTH;
}
.bottom2 .bottomCenter .gwt-HTML{
    color: #c0c0c0;
    font-size: 11px;
    font-weight: bold;
    padding-top: 9px;
}

.bottomMenu{
    float: right;
    width: 586px;
    position: relative;
    top: 15px;
}
.bottomMenu ul{
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
}
.bottomMenu ul li{
    cursor: pointer;
    display: block;
    float: left;
    list-style: none outside none;
    padding: 0 8px 0 0;
    text-align: center;
    font-size: 12px;
}
.bottomMenu ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.bottomMenu ul li a:hover{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.bottomTextSeparator{
    color: #979797;
    font-size: 12px;
}

.contentPanel{
    clear: both;
    padding: 0 0 105px 0;
}
.contentPanelNoFooter{
    clear: both;
    padding: 0;
}

@sprite .middlePartTop{
    gwt-image: "middlePartTop";
}
.middlePartTop .middlePartCenter{
    margin-top: 25px;
}
.middlePartTop .middlePartCenter .htmlStyle{
    font-size: 16px;
}
.middlePartCenterWrapper{
    background-color: #f9f9f9;
}
@sprite .middlePartCenterWrapper .middlePartSeparator{
    gwt-image: "middlePartSeparator";
    margin: 15px 0;
}
.middlePartCenterWrapper .form-form{
    padding: 15px 0;
}
.middlePartCenterWrapper .form-form .form-formElementTitleWidget{
    width:180px;
    margin-right:10px;
}
.middlePartCenterWrapper .form-form .form-formElementTitleWidgetTitle{
    width: 160px;
}
.middlePartCenterWrapper .form-form .form-formElementTitleWidgetTitle{
    font-size: 15px;
}
.middlePartCenterWrapper .form-form .form-formElementTitleWidgetEnd span{
    font-size: 15px;
}
.middlePartCenterWrapper .form-form .form-formElementTitleHelp{
    font-size: 12px;
}
.middlePartCenterWrapper .form-form .form-formElementValueWidget{
    width: 364px;
    margin-left: 0px;
}
.middlePartCenterWrapper .form-form .formTitleBig .form-formElementTitleWidgetTitle{
    font-size: 17px;
}
.middlePartCenterWrapper .form-form .formTitleBig .form-formElementTitleWidgetEnd span{
    font-size: 17px;
}
.middlePartCenterWrapper .form-form .formTitleBig .form-formElementTitleHelp{
    font-size: 14px;
}
.middlePartCenterWrapper .dontHaveAny{
    font-weight: normal;
}

@sprite .middlePartBottom{
    gwt-image: "middlePartBottom";

}

.htmlStyle a{
    color: COLOR_CONSYS_BLUE;
    text-decoration: none;
}
.htmlStyle a:hover{
    color: COLOR_CONSYS_BLUE;
    text-decoration: underline;
}

.completeYourProfile{
    margin-bottom: 10px;
    font-size: 16px;
}
.passwordPanel .showPasswordPanel div{
    float:right;
}
.passwordPanel .showPasswordPanel .gwt-Label{
    margin-right: 8px;
    font-size: 15px;
    position: relative;
    top: -1px;
}
.passwordPanel .input-consysPasswordBox{
    float:left;
}

.centerPanel{
    margin:0px auto;
    width: CONTENT_WIDTH;
    text-align: left;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.providedByTakeplace{
    font-size: 12px;
    margin: 10px 0 30px 0;
}

.partBottom {
    margin-top: 30px
}

.outerBundle{
}

.registerButton{
    float: right;
    margin-top: 20px;
}

.fail{
    margin-top: 20px;
}

.eventLogo{
    float: right;
    text-align: right;
    width: 200px;
}
.descriptionPanel{
    float:left;
    width: 550px;
}
.descriptionPanel div, .descriptionPanel p, .descriptionPanel span, .descriptionPanel ul, .descriptionPanel li, .descriptionPanel td {
    font-size: 14px;
}
.eventDescriptionOverflow{
    overflow: hidden;
}

.portraitPanel{
    width: 180px;
    height: 130px;
    margin-top: 35px;
    overflow: hidden;
}

.agreeing{
    margin-top: 35px;
    float: left;
}
.agreeing a{
    font-weight: bold;
}

@sprite .middleBottomSeparator{
    gwt-image: "bottomSeparator";
    margin: 30px 0;
}

