@external .gwt-Label;

.headlinePanel{
}
.headlinePanel .gwt-Label{
    font-size: 20px;
    margin-left: 15px;
    cursor: text;
    float: left;
}
.headlinePanel .ui-actionLabel{
    font-size: 20px;
    margin-left: 15px;
}
.headlinePanel .help{
    width: 10px;
    float: left;
}
.headlinePanel .help sup{
    font-size: 12px;
    color: #1a809a;
    cursor: default;
    left: 2px;
    top: 0;
}
@if user.agent ie6 ie7 ie8 ie9 {
    .headlinePanel .help sup{
    top: -5px;
}
}

.loginPanel{
    width: 364px;
    text-align: left;
    margin:0px auto;
}
.loginPanel .gwt-Label {
    margin-bottom: 15px;
    font-size: 16px;
}
.loginPanel .button {
    float: left;
    cursor: pointer;
    margin: 0 5px 5px 0;
}
@sprite .loginPanel .button .facebook{
    gwt-image: "buttonFacebook";
    display: block;
}
@sprite .loginPanel .button .facebookOff{
    gwt-image: "buttonFacebookOff";
    display: block;
}
@sprite .loginPanel .button .facebookOver{
    gwt-image: "buttonFacebookOver";
    display: block;
}
@sprite .loginPanel .button .google_plus{
    gwt-image: "buttonGooglePlus";
    display: block;
}
@sprite .loginPanel .button .google_plusOff{
    gwt-image: "buttonGooglePlusOff";
    display: block;
}
@sprite .loginPanel .button .google_plusOver{
    gwt-image: "buttonGooglePlusOver";
    display: block;
}
@sprite .loginPanel .button .linkedin{
    gwt-image: "buttonLinkedIn";
    display: block;
}
@sprite .loginPanel .button .linkedinOff{
    gwt-image: "buttonLinkedInOff";
    display: block;
}
@sprite .loginPanel .button .linkedinOver{
    gwt-image: "buttonLinkedInOver";
    display: block;
}
@sprite .loginPanel .button .twitter{
    gwt-image: "buttonTwitter";
    display: block;
}
@sprite .loginPanel .button .twitterOff{
    gwt-image: "buttonTwitterOff";
    display: block;
}
@sprite .loginPanel .button .twitterOver{
    gwt-image: "buttonTwitterOver";
    display: block;
}
.loginPanel .ui-actionLabel{
    font-size: 15px;
}

.ssoButtons{
    text-align: center;
}
.ssoButtons .gwt-Label{
    text-align: left;
    margin: 5px 10px;
}
.ssoButtons .ssoButtonsWrapper{
    width: 130px;
    text-align: left;
    margin:0px auto;
}
.ssoButtons .button {
    float: left;
    cursor: pointer;
    margin: 0 5px 0 0;
}
@sprite .ssoButtons .button .facebook{
    gwt-image: "buttonFacebookButton";
    display: block;
}
@sprite .ssoButtons .button .google_plus{
    gwt-image: "buttonGooglePlusButton";
    display: block;
}
@sprite .ssoButtons .button .linkedin{
    gwt-image: "buttonLinkedInButton";
    display: block;
}
@sprite .ssoButtons .button .twitter{
    gwt-image: "buttonTwitterButton";
    display: block;
}

.infoPanel{}

.infoPanelLabel{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.infoPanelLabel .action{
    font-size: 18px;
    float: none;
    font-weight:bold;
}
