@import url("styles/tables.css");
@import url("styles/headings.css");
@import url("styles/form_items.css");


/**
 * Style sheet for bugzooky, the stripes demo application.
 * @author Tim Fennell
*/

/** Set the default padding and margin for block level elements to be zero everywhere. */
body, div, dd, dt, dl, img, table, tr, td, h1, h2, h3, h4, h5, form, hr, fieldset {
    margin: 0px;
    padding: 0px;
}

/** Styles that affect the layout of the major chunks of the page. */
body {
    font-family: sans-serif;
    font-size: 10pt;
    position: relative;
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #E6EADB;
}

#header{
    font-size: 14pt;
    font-weight: bold;
    color: #00ff0c;
    padding: 10px 8px;
    border-bottom: 2px solid #4A7520;
}

#subheader{
    font-size: 12pt;
    font-weight: normal;
    color: #00ff0c;
    padding: 10px 8px;
    border-bottom: 2px solid #4A7520;
    background-color: #E6EADB;
}

#content{
    margin: 5px;
}


A:link {text-decoration: underline;  color: #4A7520;}
A:visited {text-decoration: underline;  color: #4A7520;}
A:active {text-decoration: underline;  color: #4A7520;}
A:hover {color: red;}

div.top-panel-item
{
    display:inline;
    margin-left:10px;
    font-size: 12pt;
}

div.top-subpanel-item{
    display:inline;
    margin-left:10px;
    font-size: 10pt;
}

div.hint-text
{
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
}

div.toast
{
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

div.actions{
    border: 1px;
    border-color: #cccccc;    
}

div.action{
    margin: 5px;
    float: left;    
}

.clear{
    clear: both;
    overflow: hidden;
    height: 0px;
}

.centerPart{
    background-color: white;
    min-height: 400px;
}


