table.elegant-table
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  margin-bottom: 20px;
  border-collapse: collapse;
  text-align: left;
}
table.elegant-table th
{
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}
table.elegant-table td
{
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 6px 8px;
}

table.elegant-table tbody tr:hover td
{
  color: #009;
}


table.elegant-table tr.odd {
	background-color: #fff
}

.pagebanner {
        font-size: 10pt;
        font-weight: normal;
        color: #039;          
	background-color: #eee;	
	padding: 2px 4px 2px 4px;
	width: 100%;
	margin-top: 10px;
	display: block;
	
        border: 1px solid #ccc;
        border-bottom: none;
}

.pagelinks {
	font-size: 10pt;
        font-weight: normal;
        color: #039;          
	background-color: #eee;	
	padding: 2px 4px 2px 4px;
	width: 100%;	
	display: block;		
        border: 1px solid #ccc;
        border-top: none;
}



